<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >BASKETBALL</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Basketball Rule</a></li>
                </ol>
            </nav>
            
            <hr>                                                                                                                                       
            <h3><b>Only UG students and interns are allowed to play in the team</b></h3>
            <ul>
                <li>The tournament will be conducted according to FIBA rules.</li>
                <li>Team will consist of max. 12 players, 5 will play at a given time.
                </li>
                <li>If a team is unable to field 5 players till 15 minutes after the scheduled time of the game the opponent will get walk over.</li>
                <li>Team should reach the court 15 minutes before the scheduled time of the match.
                </li>
                <li>Each player is strictly required to bring and deposit their college ID cards at the table in order to play the match.</li>
                <li>Teams are liable to disqualification against breach of disciplinary conduct if player/management are involved in illegal activities as per institution norms of AIIMS Rishikesh.</li>
                <li> In all cases, the refree's decision would be considered final. Not adhering to the refree's decision will lead to disqualification of the team from the tournament.</li>
            </ul>  
            
            <h5><b>Note* : In case of any discrepancy the final decision will be made by the referees after discussing with the officials.</b></h5>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Ujjwal choudhary - 6396181118</p>
                <p>Nipun - 9462695704</p>
                <p>Kshitj singh - 7899923934</p>
            </div>
            <hr>
    </div>
</div>
