<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">CHOREA</h2>
        <h3 class="text-center fw-bold text-warning">Dance Competition </h3>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">CHOREA (Dance Competition) </li>
            </ol>
        </nav>
        <div class="sports dance1 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DANCE1.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Adaptune   </h3>
                <h5>(Step, Spin, and slay)</h5>
                <p>Step into the spotlight and embrace the joy of dancing to the OG songs in this extempore dance competition- Adaptune. 
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo-₹100</p>
                    <p>Duet- ₹150</p>
                    <!-- <p>Group- ₹50/per head</p> -->
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/dance-rules">Rule</a>
            </div>
        </div>
        <div class="sports dance2 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DANCE2.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Nritya Sangam</h3>
                <h5>(Where traditions come alive)</h5>
                <p>Experience the enchanting beauty of folk and classical dances and witness the magic of traditions brought to life through the art of movement. Let the rhythms of the world ignite your soul as you embark on this unforgettable cultural journey! 
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo- ₹80</p>
                    <p>Duet- ₹150</p>
                    <p>Group- ₹50/per head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/dance-rules">Rule</a>
            </div>
        </div>
        <div class="sports dance3 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DANCE3.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Ballismus </h3>
                <h5>(Flex your style)</h5>
                <p>From breathtaking leaps to emotive storytelling, this event promises to showcase the very best of Western dance and the artists who bring it to life. Step into the world of grace and rhythm, and let the beauty of Western Bollywood dance unfold before your eyes!💃
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo- ₹100</p>
                    <p>Duet- ₹150</p>
                    <p>Group- ₹50/per head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/dance-rules">Rule</a>
            </div>
        </div>
        <div class="sports dance4 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DANCE4.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">RhythmRx</h3>
                <h5>(Dance to heal , Move to feel)</h5>
                <p>Join RhythmRx, the ultimate street dance showdown! </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo- ₹100</p>
                    <p>Duet- ₹150</p>
                    <p>Group- ₹50/per head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/dance-rules">Rule</a>
                </div>
    </div>
</div>
