<div class="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3452.4832744979167!2d78.28404657464853!3d30.080342716870465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1saiims%20rishikesh!5e0!3m2!1sen!2sin!4v1689585245969!5m2!1sen!2sin" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="overlay">
        <div class="container p-5">
            <div class="contact-block d-flex text-center justify-content-center">
                <div class="content">
                        <h2>Pyrexia 2023</h2>
                        <div class="place text-center">
                            <p>Venue : AIIMS Rishikesh Campus</p>
                            <p>Phone : +91 941-110-8225</p>
                            <p>Email : pyrexia@aiimsrishikesh.edu.in</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>