<div class="solasta">
    <div class="container d-flex flex-column">
        <h1 class="text-center fw-bolder">SOLASTA</h1>
        <h5 class="text-center fw-bolder fs-3 text-warning">CULTURAL EVENT</h5>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>SOLASTA</a></li>
            </ol>
        </nav>
        <div class="solista-block dance d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DANCE.png" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder fs-1 text-dark">CHOREA (Dance)</h3>
                <div class="content-block">
                    <ul class="d-flex flex-column gap-2 ">
                        <h4 class="fw-bold">Competition Name :</h4>
                        <li>Adaptune - Step, Spin, and slay</li>
                        <li>Nritya Sangam  - where traditions come alive</li>
                        <li>Ballismus - flex your style</li>
                        <li>RhythmRx - unleash the rhythm</li>
                    </ul>
                </div>
                
                <hr>
                <a class="btn btn-warning fw-bold" routerLink="/dance">KNOW MORE</a>
            </div>
        </div>
        <div class="solista-block Music d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/MUSIC.png" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder fs-1 text-dark">SINFONIA (Music)</h3>
                <div class="content-block">
                    <ul class="d-flex flex-column gap-2 ">
                        <h4 class="fw-bold">Competition Name :</h4>
                        <li>Tarang -Indian Singing competition</li>
                        <li>Acapella- Western Singing Competition</li>
                        <li>Metallica- 
                            Instrumental Competition.</li>
                        <li>8 Mile(Rap battle and beat boxing)</li>
                        <li>Battle of Bands</li>
                    </ul>
                </div>
                
                <hr>
                <a class="btn btn-warning fw-bold" routerLink="/music">KNOW MORE</a>
            </div>
        </div>
        <div class="solista-block drama d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DRAMA.png" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder fs-1 text-dark">THESPIANS (Dramatics)</h3>
                <div class="content-block">
                    <ul class="d-flex flex-column gap-2 ">
                        <h4 class="fw-bold">Competition Name :</h4>
                        <li>Monoact and mime</li>
                        <li>Nukkad Natak</li>
                        <li>Emotional quadrant </li>
                        <li>mADD angle</li>
                        <li>Movie spoof <sup class="text-danger fw-bold fs-6">*</sup></li>
                    </ul>
                </div>
                
                <hr>
                <a class="btn btn-warning fw-bold" routerLink="/drama">KNOW MORE</a>
            </div>
        </div>
        <div class="solista-block Music d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//GOTTALENT.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder fs-1 text-dark">PYREXIA GOT TALENT</h3>
                <h4 class="fw-bold">Unleashing the Brilliance</h4>
                <p class="fw-bold">Experience the magic of talent as performers take the stage to shine and inspire. Unforgettable moments await!</p>
                <h5>Registration Fees:</h5>
                <div class="fees">
                    <p>Solo - 100 Rs. </p>
                    <p>Duet - 150 Rs.</p>
                    <p>Group - 50 Rs. per head 
                    </p>
                </div>
                <a class="btn btn-warning fw-bold" routerLink="/Pyrexia-got-talent-rules">KNOW MORE</a>
            </div>

        </div>
    </div>
</div>
