<div class="footer">
    <div class="container pt-5 pb-5 d-flex text-center flex-column">
            <a  href=""><img width="300px" src="../../../assets/images/pirexiafestlogo.png" alt=""></a>
            <ul class="d-flex gap-5 justify-content-center mt-4 ">
                <li><a target="_blank" href="https://www.facebook.com/pyrexiaaiims/"><i class="fa fa-brands fa-facebook fa-2x"></i></a></li>|
                <li><a target="_blank" href="https://www.instagram.com/pyrexiaaiims/"><i class="fa fa-brands fa-instagram fa-2x"></i></a></li>|
                <li><a target="_blank" href="https://in.linkedin.com/in/pyrexia-aiims-rishikesh-8191061a1"><i class="fa fa-brands fa-linkedin fa-2x"></i></a></li>|
                <li><a target="_blank" href="https://www.youtube.com/channel/UCf52HaeSzOsohf443DOS8Sw"><i class="fa fa-brands fa-youtube-play fa-2x"></i></a></li>
            </ul>
    </div>
    <div class="conditions d-flex gap-3 justify-content-center">
        <a routerLink="/Privicy-policy">Privicy Policy</a>
        <a routerLink="/Term-conditions">Term & Condition</a>
        <a routerLink="/Refund-policy">Refund Policy</a>
    </div>
    <div class="d-flex gap-1 justify-content-center flex-wrap text-white">
        <p>Copyright ©2023 All rights reserved</p>  |  
        <p>Design & Developed by <a target="_blank" href="https://kasperinfotech.org/">Kasper Infotech Pvt Ltd</a></p>
    </div>
</div>
