.footer {
    background: linear-gradient(rgba(5, 24, 66, 0.692), rgb(0, 0, 0)),url(../../../assets/images/Footer/footerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
li {
    list-style: none;
}

@media screen and (max-width:568px) {
    ul {
       gap: 1rem !important; 
    }
}