<div class="litmaniarules p-5">
    <div class="container d-flex flex-column justify-content-center aline-item-center">
        <h1 class="text-center text-white fw-bold mt-3">THUNDERBOLT</h1>
        <p class="text-center text-white fw-bold">RULES</p>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/thunderbolt">THUNDERBOLT 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex flex-column">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold p-4">BATTEL GROUND MOBILE INDIA</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Prizes:</h3>
                <ul>
                    <li>Winner-Trophy & 4 Gold medal + cash prize</li>
                    <li>Runner up-4 silver medals + cash prize</li>
                    <li>Second Runner up- cash prize</li>
                    <li>MVP-Gold Medal + cash prize</li>
                </ul>
                <h3>Rules of Play: </h3>
                <p>All players should be currently registered and studying in the same college.</p>
                <p>This competition is conducted in accordance with the conditions and the rules set by PYREXIA.</p>
                <h2>2.0 ELIGIBILTY OF PLAYERS:</h2>
                <p>2.1 Students from any college are eligible for this competition.
                    The team members chosen in the first round of the tournament will fix your team. Changing of team members in further rounds will lead to immediate disqualification. </p>
                <h2>3.0 REGISTRATION:</h2>
                <ul>
                    <li> 3.1 Tournaments are held online.</li>
                    <li>3.2 Team event competition.</li>
                    <li>3.3 Each team should have min. 4 players.
                    </li>
                </ul>
                <h2>4.0 TOURNAMENT TYPE:</h2>
                <p>BATTLE ROYALE </p>
                <p>MAPS: Erangle & Miramar</p>
                <p>CUSTOM LOBBY CREATION:</p>
                <ul>
                    <li>Advance room with 3x loot </li>
                    <li>Organizers will be spectating so any player violating the standard rules will get eliminated from the tournament.</li>
                    <li>Teams must enter the room at least, 5 minutes prior to the match, taking full responsibility for their punctuality</li>
                    <li>Rematch only for suspicious activity detected.</li>
                    <li>Death replay is mandatory for any suspicious activity report.</li>
                    <li>Player should provide their pov in case of any suspicious activity reported unable to provide will lead to disqualification. </li>
                </ul>
                <h2>5.Points System:</h2>
                <p>position points:</p>
                <ul>
                    <li>#1~15 points</li>
                    <li>#2~12 points</li>
                    <li>#3~10 points</li>
                    <li>#4~8 points</li>
                    <li>#5~6 points</li>
                    <li>#6~4 points </li>
                    <li>#7~2 points </li>
                    <li>#8-12~1 point </li>
                    <p>kill points:</p>
                    <p>1 Kill ~ 1 point </p>
                </ul>
                <p>6.ALL THE T1 RULES WILL BE APPLICABLE.</p>
                <p>7.Tournament will be played in league stage & final round.
                    Top 16 teams will be selected  for final round from different groups.</p>
                <p>8.0 In case of any discrepancy, the decision of the organising committee will be final and is not accountable</p>

            </div>
        </div>
        <div class="div event-container gap-3 d-flex flex-column">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold p-4">COD MOBILE </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Prize:</h3>
                <ul>
                    <li>Winner team - 5  gold medals + trophy + cash prize</li>
                    <li>Runners up -5 silver medals +cash prize </li>
                </ul>
                <p></p>   
                <h4>RULES AND REGUALTIONS : </h4>
                <p>This competition is conducted in accordance with the conditions and rules set by PYREXIA.</p>

                <h4>ELIGIBILTY</h4>
                <ul>
                    <li>-Students from any college are eligible for this competition.
                    </li>
                    <li>-All students of a team must be registered and currently studying in the same college.
                    </li>
                    <li>-The team members chosen in the first round of the tournament will fix your team. Changing of team members in further rounds will lead to immediate disqualification. </li>
                    <li>
                        -Team heads should write the names of their team members in the group before the start of their first round match.</li>
                    <li>
                        -Each team should have 5 players.</li>
                    <li>-Teams not satisfying the above eligibility will be disqualified from the tournament.</li>
                </ul>
                <h4>TOURNAMENT TYPE </h4>
                <ul>
                    <li>
                        -Multiplayer </li>
                    <li>-Tournaments are held online </li>
                    <li>-knockout matches</li>
                    <li>-modes and maps will be fixed after the fixtures are made </li>
                </ul>
                <h4>ANTI-CHEAT</h4>
                <ul>
                    <li>
                        -Organisers will be spectating so any player violating the standard rules will get eliminated from the tournament.</li>
                    <li>
                        -Teams must enter the room at least, 5 minutes prior to the match, taking full responsibility for their punctuality.</li>
                    <li>
                        -Death replay is mandatory for any suspicious activity report.</li>
                    <li>
                        -Failure of providing sufficient proof in case of suspicious activity will lead to disqualification </li>
                </ul>
                <h4>DEVICES</h4>
                <ul>
                    <li>
                        -Only mobile phones and tablets are allowed.</li>
                    <li>
                        -Computers and laptops are not allowed.</li>
                    <li>-Only original apps installed through app stores or google play store are allowed.</li>
                    <li>
                        -Any participant caught using other third party apps will be banned from tournament.</li>
                    <li>-IN CASE OF ANY DISCREPANCY, THE DECISION OF THE ORGANISING COMITEE WILL BE FINAL!</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex flex-column">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold p-4">FIFA </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>This competition is to be conducted under rules and regulations of PYREXIA.</li>
                    <li>There will be pools of registered players depending on the number of participants</li>
                    <li>Each pool will consist of knockout matches that will result in one winner</li>
                    <li>Winners of all the pools will be reaching the finals.
                    </li>
                    <li>Knockout rounds will be conducted in the finals.</li>
                    <li>Draw matches will be decided by penalties </li>
                    <li>Absence of any one/both players at the time of the match will result in immediate disqualification</li>
                    <li>Participants are allowed to bring their own controller or keyboard </li>
                    <li>Matches will be held under supervision of the organising committee so any player violating standard rules will be disqualified.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex flex-column">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold p-4">MOTRAL KOMBAT </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>This competition is to be conducted under rules and regulations of PYREXIA.</li>
                    <li>There will be pools of registered players depending on the number of participants</li>
                    <li>Each pool will consist of knockout matches that will result in one winner
                    </li>
                    <li>Winners of all the pools will be reaching the finals.</li>
                    <li>Knockout rounds will be conducted in the finals.</li>
                    <li>Draw matches will be decided by sudden death</li>
                    <li>Absence of any one/both players at the time of the match will result in immediate disqualification</li>
                    <li>Participants are allowed to bring their own controller or keyboard </li>
                    <li>Matches will be held under supervision of the organising committee so any player violating standard rules will be disqualified</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex flex-column">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold p-4">TEKKEN</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>This competition is to be conducted under rules and regulations of PYREXIA.</li>
                    <li>There will be pools of registered players depending on the number of participants</li>
                    <li>Each pool will consist of knockout matches that will result in one winner
                    </li>
                    <li>Winners of all the pools will be reaching the finals.</li>
                    <li>Knockout rounds will be conducted in the finals.</li>
                    <li>Draw matches will be decided by sudden death</li>
                    <li>Absence of any one/both players at the time of the match will result in immediate disqualification</li>
                    <li>Participants are allowed to bring their own controller or keyboard </li>
                    <li>Matches will be held under supervision of the organising committee so any player violating standard rules will be disqualified</li>
                </ul>
            </div>
        </div>
        

    </div>
</div>