<div class="Clients bg-black">
  <div class="container m-auto">
    <div>
      <h4 class="fw-bolder fs-1 text-white">OUR SPONSORS</h4>
    </div>
    <section class="slider mt-4">
      <div class="logo-slider">
        <div>
          <a href="https://kasperinfotech.org/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Kasper.png" />
          </a>
          <a href="https://uttarakhandtourism.gov.in/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/uktorism.png" />
          </a>
          <a href="https://www.uptourism.gov.in/en" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/uptorism.png" />
          </a>
          <a href="https://www.facebook.com/people/La-Beautique-makeup-Beauty-lounge-and-academy/100063646912184/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/LABEAUTIQUE.png" />
          </a>
          <a href="https://www.zomato.com/rishikesh/annas-mess-tapovan" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Annasmess.png" />
          </a>
          <a href="https://kasperinfotech.org/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Kasper.png" />
          </a>
          <a href="https://www.petaindia.com/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/peta.png" />
          </a>
          <a href="https://www.facebook.com/34ChowringheeLane/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/AKAR.png" />
          </a>
          <a href="https://www.zomato.com/rishikesh/jashn-fine-art-bakery-1-manvendera-nagar" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/JASHN.png" />
          </a>
          <a href="https://www.facebook.com/MadCafeRishikesh/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/tmc.png" />
          </a>
          <a href="https://www.thdc.co.in/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/THDC.png" />
          </a>
          <a href="https://www.gailonline.com/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/GAIL.png" />
          </a>
        </div>
        <div>
          <a href="https://kasperinfotech.org/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Kasper.png" />
          </a>
          <a href="https://uttarakhandtourism.gov.in/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/uktorism.png" />
          </a>
          <a href="https://www.uptourism.gov.in/en" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/uptorism.png" />
          </a>
          <a href="https://www.facebook.com/people/La-Beautique-makeup-Beauty-lounge-and-academy/100063646912184/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/LABEAUTIQUE.png" />
          </a>
          <a href="https://www.zomato.com/rishikesh/annas-mess-tapovan" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Annasmess.png" />
          </a>
          <a href="https://kasperinfotech.org/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/Kasper.png" />
          </a>
          <a href="https://www.petaindia.com/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/peta.png" />
          </a>
          <a href="https://www.facebook.com/34ChowringheeLane/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/AKAR.png" />
          </a>
          <a href="https://www.zomato.com/rishikesh/jashn-fine-art-bakery-1-manvendera-nagar" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/JASHN.png" />
          </a>
          <a href="https://www.facebook.com/MadCafeRishikesh/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/tmc.png" />
          </a>
          <a href="https://www.thdc.co.in/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/THDC.png" />
          </a>
          <a href="https://www.gailonline.com/" target="_blank">
            <img
              alt="img-slider logo"
              id="img-slider"
              src="../../../assets/images/SPONSORS/GAIL.png" />
          </a>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- OUR CLIENTS SECTION END-->