<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">Alfresco</h2>
        <h3 class="text-center fw-bold text-warning">Informals Event </h3>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>Alfresco </a></li>
            </ol>
        </nav>
        <div class="blocks d-flex  gap-2">
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">SWIFT MINGLE</h3>
                    <p>Speed Dating :
                        Get Ready To Meet The Diverse Group Of Intriguing Individuals Looking For Exciting Connections Just Like You Whether You are Searching For Friendship Or Romance, This Is The Perfect Opportunity To Expand Your Social Circle And Discover Potential Matches' Join us For An Unforgettable Evening Of Laughter, Conversation And Possibility Of Finding That Someone Special.
                        </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹120 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>ADARSH REDDY (7358824914) </p>
                            <p>VINEETH VISHU (8660048625)</p>
                            <p>SHIVAM SINGLA (7814024578)</p>
                            <p>SATHVIK C MOULI (7022468388)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">TAMBOLA</h3>
                    <p>Tambola:
                        So many of our childhood memories are incomplete without the game of tambola. Make more precious memories with your friends and elevate your competitive spirit by participating in this fun game.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Ticket</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>KUNGA LAMO (9459993632) </p>
                            <p>SHRAY (7737084106)</p>
                            <p>ABHILASHA SINGH (8532820868)</p>
                            
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">MUSICAL CHAIR</h3>
                    <p>Friends gather in a circle of chairs, with one less chair than the number of participants. 
                        As the music starts, participants walk  around the chairs, and when the music suddenly stops,
                         everyone quickly scrambles to sit in an available chair. Last one standing loses the game.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>DISHANT (7597240902)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">TISSUE ROLL</h3>
                    <p>Tissue roll:
                        Let's bask in the excitement of this delightful game and herald our competitive spirits in an enjoyable way!</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>IHITA(6202488980)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">CROSS ROADS</h3>
                    <p>At the crossroads,where destiny and choices intertwine, celebrate the juncture of endless possibilities.Embrace the excitement as diverse paths converge,forging new friendships,and igniting passions. Through captivating performances and artistic expressions,let us revel in the thrill of exploration and the joy of life changing connections.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>ADARSH REDDY(7358824914)</p>
                            <p>ADYA PRAKASH (9172733726)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">TREASURE HUNT</h3>
                    <p>A treasure hunt as an informal event brings an element of playfulness and excitement to any gathering. 
                        Whether it's a reunion, a backyard party, or a casual get-together with friends, a treasure hunt
                         adds an extra layer of fun and camaraderie. Participants form teams, each armed with a list of clues 
                        and riddles that lead them on a thrilling chase to find the hidden treasure. Laughter and cheers echo
                         through the surroundings as the teams race against the clock, solving puzzles and following hints
                         that lead them to various locations. The hunt encourages teamwork, problem-solving, and a dash 
                        of friendly competition, fostering bonds between participants as they embark on a shared adventure.
                         In the end, it's not just about the treasure found but the joyful memories created along the way,
                         making the treasure hunt an unforgettable highlight of the event.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹100 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>ADYA PRAKASH (9172733726)</p>
                            <p>NIPUN (9462695704)</p>
                            <p>PARBHAT GAUTAM (8397919900) </p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">ANTAKSHARI</h3>
                    <p>Antakshari Brings People Together  Promotiong Friendly Competitive And Showcasing Musical Knowledge</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹120 per Team</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>SAMIKSHYA PRADHAN (7205995802)</p>
                            <p>SHIAN SINGH (7982887688) </p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">EVENING AMORE</h3>
                    <p>Elegant bruises, sharp tuxedos, and nervous laughter
                        filled the air, twinkling lights adorned the venue,
                        setting a magical ambiance. Friends gathered
                        for a night of memories and dance. Cameras
                        flashed, capturing smiles and joy as the
                        music played, hearts raced with excitement
                        Prom night , a once in a lifetime event
                        etched In their hearts forever</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹120 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>CHASH JAIN (9460368522) </p>
                            <p>ABHILASHA SINGH (8532820868)</p>
                            <p>KUNGA LAMO (9459993632)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">TWISTERS</h3>
                    <p>Twisters- Left Hand On Red , Right Foot On Blue - Twist And Tangle  See What You Can Do </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>SHIAN SINGH (7982887688) </p>
                            <p>IHITA SHREE (6202488980)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">DARTY SECRETS</h3>
                    <p>Aim, Fire, Triumph!
                        In "Dart-O-Rama," it's all about the thrill of the throw! Channel your focus, feel the rush of adrenaline, and let your darts fly like shooting stars. Each dart is a chance to make history, and each bullseye is a triumph worth celebrating!</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹30 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>SHIVAM SINGLA (7814024578)  </p>
                            <p> VINEETH VISHU (8660048625) </p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">OREXIA </h3>
                    <p>Orexia: In the words of George Bernard Shaw, 'There is no sincerer love than the love of food
                        .'Explore your passion for the platter by participating in orexia  and unleash your inner 
                        foodie to the world. An exciting munching battle awaits you! </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹150 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>NIKITA (8949404362)</p>
                            <p>KSHITIJ (7899923934)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">DUMB CHARADES </h3>
                    <p>Dumb Charades: Player Takes Turn Acting Out Words Or Phrases Without Speaking While  Other Guess. Laughter And Excitement Fill The Room As Gestures And Antics Ensue</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>VAIBHAVI SRIVASTAVA (9602741229)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">PAPER DANCE  </h3>
                    <p>Paper dance:With every step,the story unfolds,paper dance ,where magic beholds</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>NIKITA (8949404362)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">PICTIONARY  </h3>
                    <p>Pictionary:
                        Words or pictures, which one's got more appeal?
                        Explore Pictionary, and let's see what you feel </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>APOORVA GOYAL (7014289750)</p>
                            <p>MITALI SANGHI (7027595533)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">BEG BORROW STEAL </h3>
                    <p>Beg borrow steal:
                        Embrace the thrill of "Beg Borrow Steal"at our college fest! Challenge your wit and charisma as you beg for items,negotiate cunningly to borrow,and solve riddles to steal hidden treasures. Unleash you competitive spirit,forge bonds,and relish the unforgettable adventure that awaits.Dare to conquer the game!
                        </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹80 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>ADYAPRAKASH (9172733726)</p>
                            <p>VAIBHAVI SRIVASTAVA (9602741229)</p>
                            <p>ADARSH REDDY (7358824914)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">DRAPE IT  </h3>
                    <p>Participants showcase their draping skills, blending tradition and modernity </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>PARBHAT GAUTAM (8397919900)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder"> BEER PONG </h3>
                    <p>With precision and aim, the pongers compete, in this boozy battlefield, where victory tastes sweet</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹50 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>SATTHVIK C MOULI (7022468388)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder"> SQUID GAME</h3>
                    <p>Step into the gripping world of 'SQUID GAME' at our thrilling event! Brace yourself for heart-pounding challenges, as you compete in four life-or-death games that demand skill, strategy, and nerves of steel. Win big or face the consequences. Dare to join us in this pulse-pounding, high-stakes adventure!
                    </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹100 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>ABHILASHA SINGH(8532820868)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder"> HOOP ROLLING</h3>
                    <p> it's the time to move your body and pass the hula hoop. Make a circle with other participants , holding hands. Pass the hula hoop around the circle whenever the music starts, as fast as you can without separating interlocked hands. As the music stops, participant with the hula hoop will be disqualified and the circle gets smaller with more twists. Let's see who've got the flexibility and the speed!!!
                    </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>Paridhi (8448062758)</p>
                            <p>Kajal (7667065858)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder"> BALLOON BUMBLE</h3>
                    <p> Hold the balloon with your partner carry it and put into the basket ! Simple!
                        Here's the twist ..Hold the wet balloon between the faces with your partner, carry it along the way & drop into the basket. 
                        We value the time,so another twist is to drop as many balloons as you can in the basket within 1 minute.
                        The moment you drop the balloon , start all over again and we know you will surely nail the game.
                    </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>Paridhi (8448062758)</p>
                            <p>Kajal (7667065858)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder"> HOPSCOTCH</h3>
                    <p> It's time to use your memory,  speed and body! All together !! 
                        Match your hands or feet to the picture on the ground and don't forget time's always running out.
                        Do it fast and reach the end line within time limit.
                        Move your body & alter the position of your hand & feet, 
                        if you don't match the picture or run out of time,you know then your game will be through this.
                    </p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <div class="cordinater-name d-flex flex-wrap justify-content-between">
                            <p>Niketa (8532085449)</p>
                            <p>Shagun (9015005124)</p>
                        </div>
                    </div>
                    <a routerLink="/alfresco-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
    </div>
</div>
