<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <app-velocity-gr></app-velocity-gr>
        <nav aria-label="breadcrumb" class="mb-1 mt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>Velocity</a></li>
            </ol>
        </nav>
        <div class="poster w-100">
            <img width="100%" height="80%" src="../../../../../assets/images/EVENTS/velocity/velocity-poster.png" alt="poster">
        </div>
        <div class="sports cricket d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Cricket.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">CRICKET</h3>
                <p>Cricket, a popular bat-and-ball sport, enthralls fans globally. Two teams compete on a circular pitch, aiming to score runs by hitting the ball and running between wickets. Bowlers deliver the ball to dismiss the opposition's batsmen. The sport demands strategy, skill, and precision. With its rich traditions, diverse formats, and legendary players, cricket has become an integral part of many cultures, uniting enthusiasts in their passion for the game.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p>Early : ₹4500 per team </p>
                    <p>On Spot : ₹5000 per team </p>
                </div>
                <div class="registration">
                    <h2 class="mb-3">Prize:</h2>
                    <p>WINNER - ₹18000/-</p>
                    <p>RUNNER UP - ₹9000/-</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Cricket-rule">Rule</a>
            </div>
        </div>
        <div class="sports tabletennis d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/TableTennis.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">TABLE TENNIS</h3>
                <p>Table tennis, an exhilarating indoor sport, involves two or four players who use paddles to hit a lightweight ball back and forth across a table divided by a net. The objective is to score points by making the ball land within the opponent's side. The game demands quick reflexes, precision, and strategic thinking. Originating in England during the late 19th century, table tennis has since become a popular recreational activity and a competitive sport worldwide, admired for its fast-paced rallies and accessibility to players of all ages and skill levels.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <div class="rgtype d-flex">
                        <p> Single - ₹150 | Double - ₹300 | Mixed - ₹300
                        </p>
                    </div>
                    <h2 class="mb-3">Prize:</h2> 
                    <div class="rgtype">
                        <p><b>Single : </b> First- ₹1,100 | Second- ₹700</p>
                        <p><b>Doubles : </b> First- ₹2,100 | Second- ₹1,100</p>
                        <p><b>Mixed Doubles : </b> First- ₹2,100 | Second- ₹1,100</p>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Table-tennis-rule">Rule</a>
            </div>
        </div>
        <div class="sports football d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Football.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">FOOTBALL</h3>
                <p>Football, a beloved global sport, involves two teams aiming to score by getting the ball into the opponent's net. It demands skill, strategy, and teamwork on the rectangular field. With its rich history and iconic players, football unites people, fostering a sense of community and excitement. The sport's universal appeal transcends borders, captivating millions of fans worldwide.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p>₹2,100 per team </p>
                </div>
                <p><b>Prize :</b> <br> First- ₹7,500 <br> Second- ₹3,500</p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Football-rule">Rule</a>
            </div>
        </div>
        <div class="sports lawntennis d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/LawnTennis.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">LAWN TENNIS</h3>
                <p>Lawn tennis, a widely enjoyed racquet sport, is played on a rectangular court divided by a net. Players use racquets to hit a ball back and forth, aiming to score points by making the ball land within the opponent's court. The game demands agility, technique, and mental focus. With its origins dating back to the 19th century, lawn tennis has evolved into a thrilling, competitive sport, captivating fans worldwide with its fast-paced action and iconic tournaments.</p>
                    <div class="registration">
                        <h2 class="mb-3">Participation Fee:</h2>
                        <div class="rgtype d-flex">
                            <p> Single - ₹200 | Double - ₹400 | Mixed - ₹400
                            </p>
                        </div>
                        <h2 class="mb-3">Prize:</h2> 
                        <div class="rgtype">
                            <p><b>Single : </b> First- ₹1,500 | Second- ₹700</p>
                            <p><b>Doubles : </b> First- ₹2,100 | Second- ₹1,100</p>
                            <p><b>Mixed Doubles : </b> First- ₹2,100 | Second- ₹1,100</p>
                        </div>
                    </div>
                <hr>
                <a class="btn btn-danger"routerLink="/velocity-Lawn-tennis-rule">Rule</a>
            </div>
        </div>
        <div class="sports chess d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Chess.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">CHESS</h3>
                <p>Chess, a timeless board game, challenges two players to employ strategy and intellect. Played on an 8x8 checkered board with various pieces, each with unique movements, the objective is to checkmate the opponent's king. Dating back over a millennium, chess transcends cultures and ages, promoting critical thinking and foresight. As a revered mind sport, it fosters a competitive spirit while inspiring a sense of artistry and creativity. Whether played casually or professionally, chess continues to captivate enthusiasts worldwide.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p>₹100 per format</p>
                </div>
                <p><b>Prize :</b> <br> First- ₹500 <br> Second- ₹300</p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Chess-rule">Rule</a>
            </div>
        </div>
        <div class="sports vollyball d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Vollyball.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">VOLLEYBALL</h3>
                <p>Volleyball, a dynamic team sport, involves two teams separated by a net, trying to score points by hitting a ball over the net into the opponent's court. Players use their hands or arms to set, spike, and serve the ball. The game demands coordination, skill, and communication. Originating in the United States in the late 19th century, volleyball has grown into a popular recreational and competitive sport, captivating players and spectators alike with its fast-paced action and thrilling rallies.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p> ₹1,200 (Boys)/ 800 (Girls)</p>
                </div>
                <p><b>Prize :</b> <br>First- ₹5,100 (Boys)/ 2,100 (Girls) <br> Second- ₹2,100 (Boys)/ 1,500 (Girls)
                </p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Volleball-rule">Rule</a>
            </div>
        </div>
        <div class="sports badminton d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Badminton.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">BADMINTON</h3>
                <p>Badminton, a thrilling racket sport, pits two or four players against each other, separated by a net. The objective is to score points by hitting a shuttlecock over the net and into the opponent's court, aiming to make it impossible to return. Players use skillful shots like smashes and drops to outwit their opponents. Originating in ancient civilizations, badminton has evolved into a fast-paced and enjoyable game, enjoyed both casually and competitively worldwide for its agility, finesse, and strategic gameplay.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <div class="rgtype d-flex">
                        <p> Single - ₹200 | Double - ₹400 | Mixed - ₹400
                        </p>
                    </div>
                    <h2 class="mb-3">Prize:</h2> 
                    <div class="rgtype">
                        <p><b>Single : </b> First- ₹2,000 | Second- ₹1,000</p>
                        <p><b>Doubles : </b> First- ₹3,800 | Second- ₹1,900</p>
                        <p><b>Mixed Doubles : </b> First- ₹3,800 | Second- ₹1,900</p>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Badminton-rule">Rule</a>
            </div>
        </div>
        <div class="sports kabaddi d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Kabbadi.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">KABADDI</h3>
                <p>Kabaddi, a traditional contact sport, involves two teams competing to score points by tagging players from the opposing team while chanting "kabaddi." The attacking side sends a "raider" to the opponent's half, trying to tag as many defenders as possible before returning safely. The defenders aim to stop the raider's advance and hold them back. Rooted in ancient Indian history, kabaddi has become a popular and competitive sport, cherished for its physicality, teamwork, and cultural significance, captivating audiences in various countries.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p>₹800 (boys)/ ₹800 (girls)</p>
                </div>
                <p><b>Prize :</b> <br> First- ₹2,100 (boys)/ ₹1,100 (girls) <br> Second- ₹1,100 (boys)/ ₹800 (girls)
                </p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Kabbadi-rule">Rule</a>
            </div>
        </div>
        <div class="sports basketball d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Basketball.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">BASKETBALL</h3>
                <p>Basketball, a fast-paced team sport, features two teams competing to score by shooting a ball through the opponent's hoop. Players dribble, pass, and shoot with precision and agility on a rectangular court. Developed in the late 19th century by Dr. James Naismith, basketball has evolved into a globally adored game, captivating fans with its high-flying dunks, strategic plays, and nail-biting finishes. Whether played professionally or casually, basketball continues to inspire teamwork, athleticism, and passion among players and enthusiasts alike.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p> ₹1,200 (Boys)/ 800 (Girls)</p>
                </div>
                <p><b>Prize :</b> <br>First- ₹5,100 (Boys)/ 2,100 (Girls) <br> Second- ₹2,100 (Boys)/ 1,500 (Girls)
                </p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Basketball-rule">Rule</a>
            </div>
        </div>
        <div class="sports futsal d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/velocity/Futsal.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">FUTSAL</h3>
                <p>Futsal, an exciting variant of football (soccer), is played indoors on a smaller, hard court with a smaller ball. Two teams of five players each compete, emphasizing close control, skillful dribbling, and quick passing. With its origins in South America during the 1930s, futsal has gained worldwide popularity for its fast-paced action, creativity, and technical prowess. The sport fosters individual flair while promoting teamwork, making it a favorite among football enthusiasts seeking an exhilarating and dynamic experience.</p>
                <div class="registration">
                    <h2 class="mb-3">Participation Fee:</h2>
                    <p>₹1,200 per team </p>
                </div>
                <p><b>Prize :</b> <br> First- ₹3,500 <br> Second- ₹1,500</p>
                <hr>
                <a class="btn btn-danger" routerLink="/velocity-Futsal-rule">Rule</a>
            </div>
        </div>

    </div>
</div>
