<div class="events">
    <div class="top-event d-flex flex-column align-items-center justify-content-center p-5">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h2>Upcoming Events</h2>
            <h5>Best Music Events</h5>
        </div>
    </div>
    <div class=" event-block event1 d-flex flex-column align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="top mb-5 text-center"> 
                <h6>FRIDAY</h6>
                <h6>01/09/2023</h6>
            </div>
            <div class="center mb-5 text-center"> 
                <h2>King’s Day dance party</h2>
                <h5>DJ SUPBASS / GROOVES / dj rootboy</h5>
            </div>
            <a href="" class="btn btn-warning mb-5">Get Ticket</a>
        </div>
    </div>
    <div class=" event-block event2 d-flex flex-column align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="top mb-5 text-center"> 
                <h6>SATURDAY</h6>
                <h6>02/09/2023</h6>
            </div>
            <div class="center mb-5 text-center"> 
                <h2>Big City Lights Party</h2>
                <h5>DJ SUPBASS / GROOVES / dj rootboy</h5>
            </div>
            <a href="" class="btn btn-warning mb-5">Get Ticket</a>
        </div>
    </div>
    <div class=" event-block event3 d-flex flex-column align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="top mb-5 text-center"> 
                <h6>Sunday</h6>
                <h6>03/09/2023</h6>
            </div>
            <div class="center mb-5 text-center"> 
                <h2>Cocktail Long Night Party</h2>
                <h5>DJ SUPBASS / GROOVES / dj rootboy</h5>
            </div>
            <a href="" class="btn btn-warning mb-5">Get Ticket</a>
        </div>
    </div>
    <div class=" event-block event4 d-flex flex-column align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="top mb-5 text-center"> 
                <h6>Monday</h6>
                <h6>04/09/2023</h6>
            </div>
            <div class="center mb-5 text-center"> 
                <h2>King’s Day dance party</h2>
                <h5>DJ SUPBASS / GROOVES / dj rootboy</h5>
            </div>
            <a href="" class="btn btn-warning mb-5">Get Ticket</a>
        </div>
    </div>

</div>
