<div class="dancerules p-5 w-100">
    <div class="container m-auto d-flex flex-column">
        <h4 class="text-center fw-bold text-warning">SINFONIA</h4>
        <h2 class="text-center mb-5 fw-bold text-light">MUSIC RULES</h2>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/music">SINFONIA
                    Music Competition 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Tarang- Indian Singing competition
                </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <h4>Participants must complete Basic Registration to take part in the event.
                </h4>
                <ul>
                    <li>There will be SINGLE round of the competition.
                    </li>
                    <li>The maximum duration of the song must not exceed 3 minutes.
                    </li>
                    <li>Accompanists are required to be arranged by the participants. Entries without accompaniment are also allowed.
                    </li>
                    <li>4.Mics and cables will be provided. Also drum kit and keyboard will be provided ,incase needed by the accompanist. No other instrument ( guitar, tabla, etc.) will be provided.
                    </li>
                    <li>5.karoke or cassettes are allowed.
                    </li>
                    <li>6.ONLY vocal quality will be judged and not that of the karaoke.
                    </li>
                    <li>7.In case of disputes,the decision of the judges and the SOLASTA organising committe would be final and binding on all participants
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Sugandh (9988550675) </li>
                    <li>Priyanshu (9193514149) </li>
                    <li>Sangeeth (7909110786) </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Acapella- Western Singing competition

                </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <h4>Participants must complete Basic Registration to take part in the event.
                </h4>
                <ul>
                    <li>There will be SINGLE round of the competition.
                    </li>
                    <li>The maximum duration of the song must not exceed 3 minutes.
                    </li>
                    <li>Accompanists are required to be arranged by the participants. Entries without accompaniment are also allowed.</li>
                    <li>Mics and cables will be provided. Also drum kit and keyboard will be provided ,incase needed by the accompanist. No other instrument ( guitar, tabla, etc.) will be provided.
                    </li>
                    <li>karoke or cassettes are allowed.
                    </li>
                    <li>ONLY vocal quality will be judged and not that of the karaoke.
                    </li>
                    <li>In case of disputes,the decision of the judges and the SOLASTA organising committe would be final and binding on all participants
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Medhavi (+91 9109791188)
                    </li>
                    <li>Vaibhavi (+91 9602741229) </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Metallica - Instrumental
                    competition.  
                </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>Each performance should have one, or a maximum of two participants. If two members are there, one will be judged for the act and the other will be there for assistance only.
                    </li>
                    <li>Maximum of two instruments are allowed per act
                    </li>
                    <li>Only drum kit and keyboard will be provided. Participants are requested to bring their own drum sticks or any other instrument other than the above two mentioned.
                    </li>
                   
                    <li>Judges decision will be final Any wrong means for the enhancement of the performance or any act considered morally wrong would lead to immediate disqualification. 
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Aakrit (9418902058)</li>
                    <li>Anurag  (7987339164)</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">8 MILE (Rap battle and beat boxing)</h3>

            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>No abusive language would be encouraged, indirect references can be considered unless very offensive. 
                    </li>
                    <li>Maximum duration of performance should not be more than 2.5 minutes 
                    </li>
                    <li>Any impudence to the authorities would be considered as a disqualification</li>
                    <li>Beat track for background may be allowed
                    </li>
                    <li>Spot Registrations are also available
                    </li>
                    <li>Single performances are acceptable
                    </li>
                    <li>Duet performances also acceptable rap - rap or rap - beatboxing.
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Anurag (7987339164)</li>
                    <li>Aayush  (8875666240)</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Battle of Bands
                </h3>

            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <h4>Eligibility:</h4>
                <ul>
                    <li>The competition is open to all bands formed by current college or university undergraduate students.</li>
                    <li>Each band must have a minimum of 3 members and a maximum of 7  members who are currently enrolled students.
                </ul>
                <h4>Registration:</h4>
                <ul>
                    <li>Bands must register through the official college event website or designated registration platform.
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Rohan Jaggi (76194 24440)
                    </li>
                    <li>Anurag Gupta -  79873 39164
                    </li>
                    <li>Praful kolkar - 78296 16517
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
