<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">LITtMania</h2>
        <h3 class="text-center fw-bold text-warning">Literary Competition </h3>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>LITtMania </a></li>
            </ol>
        </nav>
        <div class="blocks d-flex  gap-2">
            <div class="sports art1 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">JAM- Just A
                        Minute</h3>
                    <p>Step up to the ultimate verbal challenge with JAM-Just A
                        Minute: An Extempore! Unleash your eloquence, wit, and
                        spontaneity in 60 seconds and showcase your linguistic finesse.
                        The clock ticks, but your words will resound far beyond!</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹70 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Chitleen Kaur (+918264977363)</p>
                        <p>Kaushal Naik (+918830933904)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art2 d-flex flex-row-reverse text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Poetry Slam</h3>
                    <p> In a realm where words transcend ordinary boundaries, a
                        symphony of emotions unfolds. Step onto the hallowed stage of
                        the Poetry Slam, where souls ignite with rhythm and passion.
                        Harness the power of verse, as minds collide and hearts resonate
                        in this lyrical battleground of poetic prowess.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹80 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Chitleen Kaur
                            (+918264977363)</p>
                        <p>Kaushal Naik
                            (+918830933904)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
        <div class="blocks d-flex  gap-2">
            <div class="sports art5 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Logophilia</h3>
                    <p>Indulge in the exquisite world of Logophilia where lexical
                        treasures lie waiting to be discovered. Immerse yourself in a
                        labyrinth of linguistic brilliance, where words become artistry.
                        Unleash the power of lexicon, elevate your language prowess,
                        and triumph in this veritable carnival of vocabulary mastery. To
                        be conducted in 3 Rounds: Round 1 (Test Your Vocab), Round 2
                        (Spelling Bee) and Round 3 (Finale)</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹100 per Team of 2</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Kaushal Naik
                            (+918830933904)
                            </p>
                        <p>Chitleen Kaur
                            (+918264977363)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art4 d-flex flex-row-reverse text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Abhivyakti:
                        Creative Writing
                        (Hindi)</h3>
                    <p>Embark on a transcendental odyssey of literary
                        artistry with Abhivyakti. Immerse yourself in a
                        world where imagination blooms, as pen meets
                        paper to forge tales of boundless wonder. Unleash
                        the power of your prose, and let your words
                        weave a symphony that resonates in hearts.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹80 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Harikrishnan
                            (+919446108139)</p>
                        <p>Arnab Medhi
                            (+918822696337)</p>
                        <p>Yogesh Kumawat
                            (+919358446454)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                 </div>
            </div>
        </div>
        <div class="blocks d-flex  gap-2">
            <div class="sports art3 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Debate</h3>
                    <p>Step into the cerebral arena of intellectual duels, where minds
                        clash and ideas ascend to their zenith. Prepare to embark on a
                        voyage of rhetoric and wit, where the art of persuasion takes
                        center stage. Engage in the prestigious Debate
                        Competition and let your arguments resonate with eloquence
                        and conviction.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹80 per head</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Harikrishnan
                            (+919446108139)</p>
                        <p>Kuljeet Singh
                            (+919915526967)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art6 d-flex flex-row-reverse text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Shayari</h3>
                    <p>Poetry is a type of literature that conveys a thought, describes a scene or tells a story in a concentrated, lyrical arrangement of words. Poems can be structured, with rhyming lines and meter, the rhythm and emphasis of a line based on syllabic beats.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹60 per Individual</p>
                        <p>on ths spot :₹90 per Individual</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Kharab Singh
                            (+916367680950)</p>
                        <p>Kailash Meena (+91 9982809187)</p>    
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
        <div class="blocks d-flex  gap-2">
            <div class="sports art7 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Taboo</h3>
                    <p>Unleash your linguistic prowess and navigate the tantalizing
                        labyrinth of forbidden words in Taboo. Engage in a battle of
                        wits, where creativity is your ally and quick thinking is
                        paramount. Can you skillfully convey your thoughts without
                        uttering the taboo? Prepare for an exhilarating challenge of
                        verbal finesse</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹160 Max 4</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Kuljeet Singh
                            (+919915526967)</p>
                        <p>Harikrishnan
                            (+919446108139)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art8 d-flex flex-row-reverse text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Cineholics: A
                        Fandom Quiz</h3>
                    <p>Venture into the immersive tapestry of fandoms, where mythical
                        realms collide with captivating friendships and unforgettable
                        workplaces. Test your encyclopedic prowess across realms like
                        Game of Thrones, Harry Potter, Friends, The Office, and
                        beyond. Unleash your inner fan and conquer this ultimate quiz
                        odyssey.</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹160 Max 4</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Kuljeet Singh
                            (+919915526967)</p>
                        <p>Anurag Gupta
                            (+917987339164)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
        <div class="blocks d-flex  gap-2">
            <div class="sports art9 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Anime no Tatakai:
                        An Anime Quiz</h3>
                    <p>Enter the captivating world of anime as your knowledge
                        becomes the catalyst for an exhilarating voyage. Embark on a
                        riveting journey through the vibrant tapestry of animated
                        wonders, where quizzes ignite your passion and unlock the
                        doors to otaku enlightenment. Are you ready to test your anime
                        acumen?</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹160 Max 4</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Shian Singh
                            (+917982887688)</p>
                        <p>Anurag Gupta
                            (+917987339164)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art10 d-flex flex-row-reverse text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">Cognizzia: Test
                        your knowledge</h3>
                    <p>Delve into a realm of mind-bending challenges and cerebral
                        conundrums, where knowledge becomes a virtuosic symphony.
                        Unleash your mental acuity and savor the sweet taste of victory
                        in this ultimate test of intellectual finesse</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹150 Max 3</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Harikrishnan
                            (+919446108139)</p>
                        <p>Anurag Gupta
                            (+917987339164)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
        <div class="blocks d-flex  gap-2">
            <div class="sports art11 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">BioCrux-Sr: A
                        Clinical Quiz</h3>
                    <p>Step into the captivating world of BioCrux: A Clinical Quiz,
                        where you'll delve into the realms of medicine, surgery, OB/
                        GYN, and beyond. Diagnose your knowledge with diverse
                        clinical subjects, surgical techniques, obstetric principles, and
                        more. Embark on this educational journey to refine your
                        expertise and embrace the thrill of medical exploration. Let's
                        commence the diagnostic challenge!</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹150 Max 3</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Anurag Gupta
                            (+917987339164)</p>
                        <p>Chash Jain  (+919460368522)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
            <div class="sports art11 d-flex text-white ">
                <div class="content d-flex  flex-column justify-content-between ">
                    <h3 class="fw-bolder">BioCrux-Jr: A
                        Preclinical Quiz</h3>
                    <p>Embark on an intellectual voyage with BioCrux: A PreClinical
                        Quiz! through the intricacies of anatomy, physiology, pathology,
                        pharmacology, and more. Explore cellular pathways, anatomical
                        landmarks, disease mechanisms, and drug classifications. Test
                        your medical acumen, unravel the mysteries of the human body,
                        and embrace the essence of preclinical sciences. Let the quiz
                        begin!</p>
                    <div class="registration">
                        <h4 class="mb-3">Participation Fee:</h4>
                        <p>₹150 Max 3</p>
                    </div>
                    <div class="cordinater">
                        <h4 class="mb-3">Coordinators :</h4>
                        <p>Supratik C
                            (+917002025862)</p>
                        <p>Anurag Gupta
                            (+917987339164)</p>
                    </div>
                    <a routerLink="/littmania-rules" class="btn btn-success p-0 fw-bold text-white"> Rule</a>
                </div>
            </div>
        </div>
        
</div>
