<div class="accomodations bg-black p-5">
    <div class="container">
        <h2 class="text-center fw-bold mb-3">ACCOMODATION</h2>
        <p>We have made arrangements to accommodate the delegates at both the AIIMS RISHIKESH campus and with our trusted hospitality partners.
        </p>
        <p>
            Accommodation options are available both online and offline, but please note that slots are limited.</p>

        <p>For online booking, you can find the phone numbers of coordinators below. Once you make a booking, you will receive a soft copy of the receipt. Make sure to present this receipt at the accommodation desk in the hostel during check-in. Your documents (Delegate card, College ID, and Aadhar card) will be verified, and you'll receive a hard copy of the receipt, which is required for the security deposit refund during check-out.
        </p>
        <p>
            Offline accommodation will be available at the registration desk near the entry gate when you arrive at the fest, depending on availability. As slots are limited, accommodation will be allocated on a first-come-first-serve basis. It is advisable to book your accommodation well in advance.
</p>
        <h3>Amenities:</h3>
        <ul>
            <li> Comfortable in-campus accommodations are provided.</li>
            <li> Basic facilities like water coolers, mattresses, fans, buckets, and mugs in rooms with attached bathrooms will be available.</li>
            <li> To ensure students' safety, security guards will be present.</li>
        </ul>
        <h3>Rules:</h3>
        <ul>
            <li>Smoking and alcohol are strictly prohibited on the hostel premises.</li>
            <li>Students are responsible for the security of their luggage.</li>
            <li>Only students with confirmed accommodation bookings will be
                allowed to enter the hostel.</li>
            <li>Any damage to the provided facilities will result in non-refundable
                security charges and additional fees based on the extent of the
                damage.</li>
            <li>Refunds will not be provided in case of cancellations.</li>
        </ul>
        <h3>Available Rooms:</h3>
        <p>Allocation on a first-come-first-serve basis</p>
            <ul>
                <li>Boys' Quadruple Sharing Rooms</li>
                <li>Girls' Quadruple Sharing Rooms - Allocation on a first-come-first-serve basis</li>
                <li>Dormitory rooms are also
                    available</li>
            </ul>
        <h3>Price :</h3>
        <ul>
            <li>Room: Rs 400 per person per day (for both boys and girls/ GST included)</li>
            <li>Dormitory: Rs 274 per person per day (for both boys and girls/GST included)</li>
            <li>Security Deposit: Rs 200 per person (refundable upon check-out)</li>
        </ul>
        <br>
        <p>In case all slots are booked, off-campus accommodation can be arranged.</p>
        <br>
        <h3>Coordinators :</h3>
        <p>Samarth: 7878721641</p>
        <p>Gajendra: 6367294104</p>
        <p>Kashvi: 8266831781</p>
        <p>Abhilasha: 8532820868</p>
    </div>
</div>
