<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >BADMINTON</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Badminton Rule</a></li>
                </ol>
            </nav>
            <hr>                                                                                                                                         
            <h3>Rules:</h3>
            <ul>
                <li>Rules will be according to BWF Rules (international rules). The tournament shall be played on knockout basis.</li>
                <li> Each team has to bring their id card on court on match day .(mandatory)</li>
                <li>Each team has to get their personal racquet.</li>
                <li>We will provide the shuttlecocks. (Yonex Mavis 350)</li>
                <li>Please take care of your kits and belongings. If lost they would not be the management’s responsibility.</li>
                <li>All teams must report 30 minutes before the scheduled time.</li>
                <li>Please respect the officials and other players. In all cases the, the referee’s decision would be final. Disputes will be resolved by the organising committee after discussions with the officials.</li>
                <li>Teams are liable to disqualification against breach of disciplinary conduct if player/management are involved in illegal activities as per institute norms in AIIMS Rishikesh.</li>
                <li>Toss winning side has to choose either to serve first or have desired side of court.
                </li>
            </ul>
            <h3>EVENTS:</h3>
            <h4>1. MEN’S SINGLES-</h4>
            <ul>
                <li>Registration Fee- 200 per person</li>
                <li>Knockout rounds will consist of 1 set of 21 points and from round of 16 onwards it will be best of three sets consisting of 21 points each set.</li>
            </ul>
            <h4>2. WOMEN’S SINGLES-</h4>
            <ul>
                <li>Registration Fee- 200 per person</li>
                <li>Knockout rounds will consist of 1 set of 21 points and from round of 16 onwards it will be best of three sets consisting of 21 points each set.</li>
            </ul>
            <h4>3. MEN’S DOUBLES-</h4>
            <ul>
                <li>Registration Fee- 400 per team</li>
                <li>Knockout rounds will consist of 1 set of 21 points and from round of 16 onwards it will be best of three sets consisting of 21 points each set.</li>
            </ul>
            <h4>4. WOMEN’S DOUBLES-</h4>
            <ul>
                <li>Registration Fee- 400 per team</li>
                <li>Knockout rounds will consist of 1 set of 21 points and from round of 16 onwards it will be best of three sets consisting of 21 points each set.
                </li>
            </ul>
            <h4>
                5. MIXED DOUBLES-</h4>
            <ul>
                <li>Registration fees- 400 per team</li>
                <li> Knockout rounds will consist of 1 set of 21 points and from round of 16 onwards it will be best of three sets consisting of 21 points each set.
                </li>
            </ul>
            <h4>
                6. Interval and Change of End-</h4>
            <ul>
                <li>When the leading team score reaches 11 points , players can have a 60 second interval.</li>
                <li>A 2-minute interval between each game is allowed.</li>
                <li>In the third game players change ends when the leading score reaches 11 points.</li>
                <li>Each player can take an extra 1 min break in each game.</li>
            </ul>
            <h3>
                Important Points-</h3>
            <ul>
                <li>Referee or coordinators final decision will be taken case of any controversy.</li>
                <li>Participants will be disqualified in case of failure to show up on time of the match  </li>
                <li>Depending upon the number of participations the number of sets and set point may change. This will be communicated to the player prior to the match.</li>
                <li>Number of entries will be limited it will be on first come first serve basis.</li>
                <li>INSUFFICIENT REGISTRATION MAY LEAD TO CANCELLATION OF EVENTS</li>
            </ul>
            
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Hemant pandita- 9561155900</p>
                <p>Sandeep yadav -9358721693</p>
                <p>Vineeth vishu - 8660048625</p>
                <p>Sajal agrawal  - 6265531815</p>
            </div>
            <hr>
    </div>
</div>
