<div class="euphotiya p-5">
    <div class="container d-flex flex-column">
        <div class="slide-container w-100 d-flex">
            <div class="slide">
                <img src="../../../assets/images/euphoriya/euphoriyaimg.jpg" alt="">
            </div>
            <div class="content d-flex flex-column justify-content-center aline-item-center text-center p-5 text-white" >
                <div class="block1">
                    <h4 class="fw-bold text-uppercase delcard">Basic Registration</h4>
                <p>Mandatory for entry into AIIMS RISHIKESH Premises
                    Benefits of Card - To explore the campus of AIIMS Rishikesh
                    To participate in all non-premium events of PYREXIA
                    For security purposes of our esteemed delegates</p>
                <p>Registration for BR Card to be done online on PYREXIA Website
                    Participation in Non-Premium Events is subject to payment of requisite
                    fees for corresponding event(s)</p>
                <h5 class="fw-bold mb-5">FEES - ₹ 150/-</h5>
                <a target="_blank" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/meTrnReq.html" class="btn btn-warning fw-bold">Register Now</a>
                </div>
            </div>
        </div>
        <div class="slide-container delcard-container w-100 d-flex bg-black">
            <div class="content d-flex flex-column justify-content-center aline-item-center text-center p-5 text-white" >
            <div class="block2 p-5">
                <h4 class="fw-bold text-uppercase delcard">Delegate card</h4>
                <p>Hello Pyrexians💥🌟
                    Don't miss this chance to be part of an unforgettable experience. Secure your delegate card now and get ready to rock! This will give you access to a lifetime experience 🤘🤩 #PyrexiaFest</p>
                <h5 class="fw-bold mb-5">FEES - ₹ 1,500/-</h5> 
                <a target="_blank" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/meTrnReq.html" class="btn btn-warning fw-bold">Register Now</a>   
            </div>
            </div>
            <div class="slide">
                <img src="../../../assets/images/euphoriya/euphoriyaimg2.webp" alt="">
            </div>
        </div>
        
        
    </div>
</div>