<div class="dancerules p-5 w-100">
    <div class="container m-auto d-flex flex-column">
        <h4 class="text-center fw-bold text-warning">THESPIANS</h4>
        <h2 class="text-center mb-5 fw-bold text-light">DRAMA RULES</h2>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/drama">Thespians (Dramatics Competition) 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Monoact and Mime 

                </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <h4>Mime is a unique and captivating form of non-verbal performance art that relies solely on body movements, gestures, facial expressions, and actions to convey emotions, tell stories, and communicate with the audience.
                </h4>
                <ul>
                    <li>The performance must consist of a single act with no blackouts. 
                    </li>
                    <li>The participants must perform a monologue or any solo act from a script of their choice, with no limitations in the genre. However, if an adapted script is being performed, it is compulsory to give credits to the concerned person/group.
                    </li>
                    <li>Duration of act should not exceed time limit i.e. 5 minutes.
                    </li>
                    <li>The act should be in Hindi, English or Telugu. However, short passages in other languages are permitted.
                    </li>
                    <li>If a second smaller character is required, it should be arranged by the participant themselves.
                    </li>
                    <li>Participants can use props and a backing track as required.
                    </li>
                    <li>Use of fire/explosives or any other potential harmful substances is strictly prohibited.
                    </li>
                    <li>Obscenity (at the discretion of the judges) is not allowed and will lead to immediate disqualification.
                    </li>
                    <li>Decision of judges will be final and no objections will be entertained.
                    </li>
                    <li>Round is subject to registrations.
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Sakshi Singh-  9868720281
                    </li>
                    <li>Apoorva Goyal– 7014289750
                    </li>
                    <li>Bhawana Satsangi– 7427818662
                    </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Movie Spoof</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>Team Size- Max. 6 members are allowed in a  team.</li>
                    <li>Language – Hindi or English.
                    </li>
                    <li>Time limit – 5-8 min
                    </li>
                    <li>Plagiarism from any kind of sources is strictly prohibited.
                    </li>
                    <li>Candidates should choose any one of the genres 
                    </li>
                    <ul>
                        <li>Horror</li>
                        <li>Romance</li>
                        <li>Comedy</li>
                        <li>Crime thriller
                        </li>
                        <li>Historical</li>
                        <li>Action </li>
                    </ul>
                    <li>Props, makeup, costumes are allowed.
                    </li>
                    <li>Any kind of obscenity and vulgarity is not allowed. 
                    </li>
                    <li>Decision of judges will be final and no objections will be entertained.</li>
                </ul>
                <h3>JUDGING CRITERIA OF MOVIE SPOOF</h3>
                <li>Creativity, uniqueness </li>
                <li>Potential involvement of all participating members in a team 
                </li>
                <li>Acting skills
                </li>
                <li>Expressions, body language
                </li>

                <h4>Coordinators:</h4>
                <ul>
                    <li>Avnendra– 9528645313</li>
                    <li>Suraj- 8802747790</li>
                    <li>Shian – 7982887688</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Emotional Quadrant
 
                </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <h4>Stage will be divided into 4 quadrant, each assigned with an
                    emotion.
                </h4>
                <ul>
                    <li>Each act will consist of 2 actors with a time limit of *minimum* 3min.
                    </li>
                    <li>They will have to act according to the emotion that the quadrant is assigned to.
                    </li>
                    <li>Each couple will be provided a topic , on spot , around which their act should revolve.
                    </li>
                    
                    <li>After each minute , actor will have to change the quadrant in which the were standing previously , to a newer quadrant.
                    </li>
                    <li>Each couple will be given a time of 10 min after distribution of topics to prepare the act, failing which they will be disqualified.
                    </li>
                    <li>Act should be performed only in hindi or english language
                    </li>
                    <li>No props will be provided and use of props is optional and does not affect judging criteria.
                    </li>
                    <li>Maximum time limit of the act is 6 min failing which points will be deducted.
                    </li>
                    <li>Both the actors should not be present in the same quadrant at same time.
                    </li>
                    <li>Decision of judges will be final and no objections will be entertained.
                    </li>
                </ul>
                <h3>EMOTIONAL QUADRANT JUDGING CRITERIA – 
                </h3>
                <ul>
                    <li>Flow of conversation
                    </li>
                    <li>Humor</li>
                    <li>Interruption</li>
                    <li>Coordination</li>
                    <li>Time limit
                    </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Seema Charan- 8690511388
                    </li>
                    <li>Sajal– 8349834118
                    </li>
                    <li>Vineeth– 8660048625
                    </li>
                    <li>Adyaprakash- 9172733726
                    </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">NUKKAD NATAK 
                </h3>

            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>Team Size: 8-25 members.
                    </li>
                    <li>Time Limit:  10-15 min
                    </li>
                    <li>Language: Preferably Hindi
                    </li>
                    <li>Script: Encourage original scripts that address relevant social issues. Plagiarism should be strictly prohibited.
                    </li>
                    <li>Participants have to bring their props with them.
                    </li>
                    <li>Costumes and Makeup: we’ll not provide costumes and make-up.
                    </li>
                    <li>Decision of judges will be final and no objections will be entertained.
                    </li>
                    <li>Theme = on social impact -the themes could revolve around topics like gender equality, environmental conservation, education, mental health, community harmony, addiction, violence against animals, violence against doctors or any other relevant social concern.</li>
                </ul>
                <h3>Judging Criteria for Nukkad Natak Competition</h3>
                <ul>
                    <li>Content and Message</li>
                    <li>Acting and Expression</li>
                    <li>Stage presence and Coordination </li>
                    <li>Originality and Creativity</li>
                    <li>Audience Engagement</li>
                    <li>Overall Impression</li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Seema Charan– 8690511388</li>
                    <li>Arnab Jyoti Medhi– 8822696337</li>
                    <li>Yogita Choudhary- 7206189335</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">mADD ANGLE</h3>

            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>On the spot entries, 10 mins time will be given for the preparation after random allotment of topic.
                    </li>
                    <li>Basic brand products will be provided for which advertisement has to be done, no other props will be provided.</li>
                    <li>Language – Hindi or English</li>
                    <li>Maximum time for the act- 2 mins</li>
                    <li>Maximum number of persons per team – 3
                    </li>
                    <li>Individual entries are most welcome </li>
                    <li>Any kind of offensive, discriminatory or harmful content is strictly prohibited.
                    </li>
                    <li>Decision of judges will be final and no objections will be entertained.
                    </li>
                </ul>
                <h3>Judging Criteria for Nukkad Natak Competition</h3>
                <ul>
                    <li>Creativity</li>
                    <li>Humor</li>
                    <li>Stage presence and Coordination </li>
                    <li>Relevance to the theme Impact</li>
                    <li>Audience Engagement</li>
                    <li>Overall Impression</li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    
                    <li>Yogita Choudhary– 7206189335
                    </li>
                    <li>Aaryan Pannu– 7206286033
                    </li>
                </ul>
        </div>

    </div>
</div>
