<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">THESPAINS </h2>
        <h3 class="text-center fw-bold text-warning">Dramatics Competition </h3>
        <!-- <div class="poster w-100">
            <img width="100%" height="80%"
                src="../../../../../assets/images/EVENTS/velocity/velocity-poster.png"
                alt="poster">
        </div> -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thespians (Dramatics Competition)</li>
            </ol>
        </nav>
        <div class="sports drama1 d-flex text-white ">
            <div class="images">
                <img width="100%"
                    src="../../../../../assets/images/EVENTS/solasta/DRAMA1.webp"
                    alt>
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Monoact and Mime
                </h3>
                <p>The Monoact Competition is an exciting theatrical event that
                    showcases the talent and versatility of participants as they
                    take the stage alone to perform captivating solo acts.
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo- 100Rs</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/drama-rules">Rule</a>
            </div>
        </div>
        <div class="sports drama2 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%"
                    src="../../../../../assets/images/EVENTS/solasta/DRAMA2.webp"
                    alt>
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Movie Spoof
                </h3>
                <p>Welcome to the most uproarious and creative movie spoof
                    competition, "Spoof-O-Rama Showdown"! Get ready for a
                    laugh-out-loud extravaganza where participants will put
                    their parody skills to the test, creating the wildest and
                    wittiest movie spoofs imaginable.
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>Solo– 120Rs.</p>
                    <p>Group – 100 rs. Per head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/drama-rules">Rule</a>
            </div>
        </div>
        <div class="sports drama3 d-flex text-white ">
            <div class="images">
                <img width="100%"
                    src="../../../../../assets/images/EVENTS/solasta/DRAMA3.webp"
                    alt>
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Emotional Quadrant</h3>
                <p>Welcome to "The Emotional Quadrant," a unique and
                    emotionally-charged competition that celebrates the power of
                    human emotions through various artistic expressions. Get
                    ready to delve into the depths of feelings as participants
                    take center stage to showcase their raw and heartfelt
                    performances.
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>100Rs/ Per Head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/drama-rules">Rule</a>
            </div>
        </div>
        <div class="sports drama4 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%"
                    src="../../../../../assets/images/EVENTS/solasta/DRAMA4.webp"
                    alt>
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Nukkad Natak</h3>
                <p>Step into the spotlight of "Nukkad Natak Manch," a vibrant
                    and energetic street theater competition that brings social
                    issues, humor, and powerful storytelling to the bustling
                    streets. This unique event aims to promote awareness,
                    inspire change, and entertain the masses through the art of
                    Nukkad Natak (street theater).
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>100Rs/ Per Head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/drama-rules">Rule</a>
            </div>
        </div>
        <div class="sports drama5 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta/DRAMA5.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">mADD ANGLE</h3>
                <p>Welcome to the “mADD ANGLE" an exhilarating advertising competition that challenges participants to showcase their creativity, innovation, and persuasive prowess in crafting compelling advertisements. Get ready to witness a clash of ideas, as participants compete to create the most memorable and effective ad campaigns.
                </p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <p>80Rs/ Per Head</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/drama-rules">Rule</a>
            </div>
        </div>
    </div>
