.velocity {
    background:linear-gradient(180deg, rgba(212, 5, 160, 0.548), rgba(170, 182, 7, 0.432), rgba(17, 31, 228, 0.534)),  url(../../../../../assets/images/EVENTS/velocity/wall.PNG);
    background-position: center;
    background-repeat: repeat;
}

.images {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.images img {
    border: 5px solid white;
}
.content {
    padding: 2rem;
    width: 50%;
}
.drama1 {
    background:linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.919)) ,url(../../../../../assets/images/EVENTS/solasta/DRAMA1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drama2 {
    background:linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.919)) ,url(../../../../../assets/images/EVENTS/solasta/DRAMA2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drama3 {
    background:linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.919)) ,url(../../../../../assets/images/EVENTS/solasta/DRAMA3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drama4 {
    background:linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.919)) ,url(../../../../../assets/images/EVENTS/solasta/DRAMA4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drama5 {
    background:linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.919)) ,url(../../../../../assets/images/EVENTS/solasta/DRAMA5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumb {
    background-color: rgba(27, 27, 27, 0.61);
    padding: .5rem;
}
.breadcrumb-item, .breadcrumb-item a {
    text-decoration: none;
    color: white;
}
h3 {
    font-size: 2.2rem !important;
    color: rgb(226, 17, 69);
}
.star {
    color: red;
    font-weight: 600;
    font-size: large;
}
.sports {
    margin-bottom: 2rem;
}
@media screen and (max-width:992px) {
    .sports {
        flex-direction: column !important;
    }
    .images {
        width: 80%; 
        margin: auto;
    }
    .content {
        padding: 1rem;
        text-align: center;
        align-items: center;
        width: 100%;
    }
}