<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">KALAKRITI</h2>
        <h3 class="text-center fw-bold text-warning">Fine-Arts Competition </h3>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>KALAKRITI </a></li>
            </ol>
        </nav>
        <div class="sports art1 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/fantacy-face.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Fantasy Faces</h3>
                <h5>(Transforming faces,from blank canvases to living art!)</h5>
                <br>
                <p>Prepare to witness a kaleidoscope of colours, dazzling designs, and artistic mastery as participants transform faces into mesmerizing works of art. 
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Team of 2</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹100 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art2 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/cafeen.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Caffeine Creations</h3>
                <h5>(From Beans to Brushes, awaken your creativity with the mesmerizing aroma of art!)</h5>
                <br>
                <p> Join our Coffee Painting Competition and let the rich hues of coffee brew beauty on your canvas.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹30 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art3 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/Contours.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Colorful Contours</h3>
                <h5>(Where art meets tradition & colors 
                    and patterns intertwine!)</h5>
                <br>
                <p>Join the Rangoli extravaganza - Embrace the joy of patterns and hues, as we celebrate the rich tapestry of Indian culture. 
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Team of 2/3</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹150 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art4 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/Brushless.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Brushless Strokes</h3>
                <h5>(Explore the world beyond brushes 
                    & embrace the art of free expression!)</h5>
                <br>
                <p>Unleash your hidden creativity and think outside the box to create a masterpiece with anything other than a brush.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹50 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
             </div>
        </div>
        <div class="sports art5 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/Acrylic.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Acrylic Odyssey</h3>
                <h5>(Bold pigments blend, a symphony of art,
                    With acrylic strokes, masterpieces start.)</h5>
                <br>
                <p>With a boundless palette of colors and a canvas to make your own, let your brushstrokes tell a story, and vie for the title of The Master of Acrylics.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹80 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art6 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/tatoo.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Tattoo Tales</h3>
                <h5>(Transient Tattoos, Lasting Impressions!)</h5>
                <br>
                <p> Unleash the full extent of your artistic prowess as you blend the vibrancy of acrylic paint with deft brushstrokes to craft stunning temporary tattoos.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Team of 2</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹50 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art7 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/sketch.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Contrast Chronicles</h3>
                <h5>(Sketching whispers, dreams take shape
                    With strokes of graphite, worlds escape.)</h5>
                <br>
                <p>Welcome to a B&W sketching competition, where we eagerly anticipate your monochrome masterpiece to dazzle us.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹40 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art8 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/cupdoodle.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Cupful of Doodles</h3>
                <h5>(Get ready to embark on an 
                    unforgettable journey of ink-spiration!)</h5>
                <br>
                <p> Calling all doodle enthusiasts and artistic daydreamers! This is your chance to let your pen dance on paper cups and weave stories through your strokes.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹20 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art9 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/fabric.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Splash Tees</h3>
                <h5>(Brushstrokes on fabric, colors ignite,
                    T shirt transformed, a wearable delight!)</h5>
                <br>
                <p>Get ready to unleash your inner artist and splash your creativity onto a humble canvas of a T shirt in our exhilarating T shirt painting competition.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹150 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art10 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/mehndi.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Mehendi Mania</h3>
                <h5>(An imprint of tradition, nature’s 
                    blossoms on your palms!)</h5>
                <br>
                <p> Let the rich earthy scent of mehndi, guide your creativity and lead you to the finish line, in this mehndi designing competition.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹30 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
        <div class="sports art11 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/kalakriti/stone.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Brush Of Pebbles</h3>
                <h5>(On rugged stones, colors bloom and play
                    Nature's canvas adorned, a rock's display!)</h5>
                <br>
                <p>Welcome to this stone painting competition, where rocks transform into galleries. An amazing blend of human imagination with the beauty of nature.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹50 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/Kalakriti-rules">Rule</a>
            </div>
        </div>
</div>
