<div class="privacy">
    <div class="container d-flex flex-column p-5">
        <h2 class="text-center">Return & Refund Policy</h2>
        <h3>Definitions and key terms</h3>
        <p>To help explain things as clearly as possible in this Return & Refund Policy, every time any of these terms are referenced, are strictly defined as: </p>
        <ul>
            <li>Company: when this policy mentions “Company,” “we,” “us,” or “our,” it refers to ARSWA, that is responsible for your information under this Return & Refund Policy.</li>
            <li>Customer: refers to the company, organization or person that signs up to use the ARSWA Service to manage the relationships with your consumers or service users.</li>
            <li>Device: any internet connected device such as a phone, tablet, computer or any other device that can be used to visit ARSWA and use the services.</li>
            <li>Service: refers to the service provided by ARSWA as described in the relative terms (if available) and on this platform.</li>
            <li>Website: ARSWA."’s" site, which can be accessed via this URL: http://Aiimsrishikeshstudent.com</li>
            <li>You: a person or entity that is registered with ARSWA to use the Services.</li>
        </ul>
        <h3>Return & Refund Policy</h3>
        <p>Thanks for encashing the services at ARSWA. We appreciate the fact that you like our services. We also want to make sure you have a rewarding experience while you’re exploring, evaluating, and purchasing our policies</p>
        <p>As with any shopping experience, there are terms and conditions that apply to transactions at ARSWA. We’ll be as brief as our attorneys will allow. The main thing to remember is that by making a purchase at ARSWA, you agree to the terms set forth below along with ARSWA's Privacy Policy.</p>
        <p>If there’s something wrong with the document you bought, or if you are not happy with it, make sure to contact us pyrexia@aiimsrishikesh.edu.in directly to  providing your email address associated with your ARSWA account so that we can help you solve the issue as soon as possible.</p>
        <h3>Refunds</h3>
        <p>We the members of ARSWA commit ourselves to serving our customers with the best policies. Every single policy that you choose is thoroughly inspected, checked for defects and made with utmost care. We do this to ensure that you fall in love with our policies.</p>
        <p>We are committed to providing our customers with the highest level of satisfaction. If you are not satisfied with your purchase, we offer a 100% money-back guarantee. To request for a refund, please contact our customer service team at pyrexia@aiimsrishikesh.edu.in with your email address associated with your ARSWA account and reason for the refund, and we will process the refund right away.</p>
        <h3>Cancelling</h3>
        <p>ARSWA allows you to cancel your payment at any time by contacting us and asking for a cancellation. After you cancel your payment, you will be able to keep generating policies.</p>
        <h3>Your Consent</h3>
        <p>By using our website, registering an account, or making a purchase, you hereby consent to our Return & Refund Policy and agree to its terms.</p>
        <h3>Changes To Our Return & Refund Policy</h3>
        <p>Should we update, amend or make any changes to this document so that they accurately reflect our Service and policies. Unless otherwise required by law, those changes will be prominently posted here. Then, if you continue to use the Service, you will be bound by the updated Return & Refund Policy. If you do not want to agree to this or any updated Return & Refund Policy, you can delete your account.</p>
        <h3>Contact Us</h3>
        <p>Don't hesitate to contact us if you have any questions.</p>
        <ul>
            <li>Via Email: pyrexia@aiimsrishikesh.edu.in </li>
            <li>Via this Link: https://pyrexia.aiimsrishikeshstudent.com</li>
        </ul>

    </div>
</div>

