<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >KABADDI</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Kabaddi Rule</a></li>
                </ol>
            </nav>
            
            <hr>

            <h3>Eligibility for Participation: </h3>
            <ul>
                <li>All players should be currently registered and studying in the same college. </li>
                <li>All players MUST be upto or after 2018 batch ( any player before 2018 batch are NOT allowed to play) </li>
                <li>All players must carry a valid college I-card before the start of every match.
                </li>
                <li>In-case of protest against the admission of a player from a particular college, said player must produce copy of fee-receipt, current semester marksheet and website registration details as proof of admission within 2 hours of intimation to avoid disqualification.</li>
            </ul>
            <h3> General Regulations:</h3>
            <ul>
                <li>Teams are liable to disqualification against breach of disciplinary conduct.</li>
                <li>Please take care of your kits and belongings, if lost, they will not be the management’s 
                    responsibility.</li>
                <li>All teams must report at least 30 minutes before the scheduled time.  
                </li>
                <li>Kabbadi shoes will be provided during the play. </li>
                <li>Shoes must be returned to the concerned, if not returned, fine would be imposed

                    In all matches, the referee’s decision will be final.</li>
                <li>In case of any dispute, the final decision rests with the organising committee.</li>
            </ul>
            <h3>
                Rules of Play:</h3>
            <ul>
                <li>Each team shall consist of max 12 players (min. 7 players).
                </li>
                <li>Max.5 substitutions can be made during the game..</li>
                <li>The duration of the matches is 40 minutes, played in two halves of 20 minutes (20-5-20).</li>
                <li>In case of a tie , the match will go into extra time of 8 minutes. </li>
                <li>The in-game rules will be explained before the matches to the teams by the referees and Co-ordinators. </li>
                <li>*Insufficient registration can lead to cancellation of event.</li>
                <li>(In case of cancellation registration fee will be refunded by coordinators)</li>
            </ul>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Praful : 7829616517</p>
                <p>Sanyam : 9467336545</p>
            </div>
            <hr>
    </div>
</div>
