<div class="event-home">
    <div class="d-flex flex-wrap">
        <div class="blocks block1 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Fareneheit</h2>
            <p>opening ceremony</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
        <div class="blocks block2 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Affasinato</h2>
            <p>Fashion Show</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
        <div class="blocks block3 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Solasta</h2>
            <p>Cultural Programme</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
        <div class="blocks block4 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Velocity</h2>
            <p>Sports Activity</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
        <div class="blocks block5 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Thunderbolt</h2>
            <p>E-Gaming</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
        <div class="blocks block6 w-50 d-flex flex-column aline-item-center justify-content-center">
            <h2>Alfresco</h2>
            <p>Informals</p>
            <a class="btn btn-warning" href="">Know More</a>
        </div>
    </div>
</div>
