<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../../../assets/images/pirexia/video.mp4" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white d-flex flex-column align-items-center">
        <h3 class="mb-2 text-light fs- fw-bolder">AIIMS RISHIKESH</h3>
        <h3 class="mb-2 text-light">Present's</h3>
        <div class="block">
          <h1 class="display-10 mb-1">PYREXIA 3.0</h1>
        </div>
        <h3 class="mb-4 text-light fs-4 fw-bold">7<sup>th</sup> -  11<sup>th</sup> September, 2023</h3>
        <div class="registration d-flex flex-wrap gap-2 justify-content-center">
          <a target="_blank" class="lead mb-0 btn btn-danger fw-bold mt-5" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/meTrnReq.html"> REGISTER NOW</a>
          <a target="_blank" class="lead mb-0 btn btn-primary fw-bold mt-5" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/event.html"> PARTICIPATE NOW</a>
          <!-- <a target="_blank" class="lead mb-0 btn btn-danger fw-bold mt-5" href="http://localhost/standard/meTrnReq.html"> REGISTER NOW</a>
          <a target="_blank" class="lead mb-0 btn btn-primary fw-bold mt-5" href="http://localhost/standard/event.html"> PARTICIPATE NOW</a> -->


        </div>
      </div>
    </div>
  </div>
</header>

