<div class="general-rules text-white">
    <div class="container m-auto d-flex flex-column p-3 gap-3 text-center">
        <h2 class="text-warning fw-bolder">VELOCITY</h2>
        <hr class="p-0 m-0">
        <h5 class="text-uppercase fw-bold mb-3">General Regulations</h5>
        <p>Basic registration is mandatory for all Players.</p>
        <p>Insufficient registration can lead to cancellation of event.</p>
        <p>(In case of cancellation registration fee will be refunded by coordinators).</p>
        <p>Please take care of your kits and belongings, if lost, they will not be the management’s.</p>
        <p>Teams are liable to disqualification against breach of disciplinary conduct if player/management are involved in illegal activities as per institution norms of AIIMS Rishikesh.</p>
        <p>In all cases, the referee’s decision would be considered final. Not adhering to the referee’s decision will lead to disqualification of the team from the tournament.</p>
        <p>Each player is strictly required to bring and deposit their college ID cards at the table in order to play the match.</p>
        <p class="text-danger">NOTE: - In case of any discrepancy the final decision will be made by the referees after discussing with the officials.</p>
        <p>For further queries please contact:</p>
        <hr>
        <div class="support d-flex justify-content-between">
            <p>Amit - 9587663203</p>
            <p>Yogesh - 9119385113</p>
            <p>Maya - 8094290216</p>
            <p>Dhwani - 9589540933</p>
        </div>
        <hr>
    </div>
</div>
