<div class="arswa bg-black text-center">
  <div class="container pb-5">
    <h1 class="text-center text-danger mb-5 pb-5 pt-5 text-uppercase">Meet The Team</h1>
    <h4 class="text-center text-white mb-5 text-uppercase">ARSWA <br> Representative</h4>
    <div class="box-container justify-content-center">
      <div class="card-container d-flex justify-content-center flex-wrap gap-2">
        <div class="president-card d-flex flex-column justify-content-center">
          <div class="president">
            <img
              src="../../../assets/img/TejPrakash.png"
              alt="Tej Prakash Mittal"
            />
          </div>
          <div class="content">
            <h2>Tej Prakash Mittal</h2>
            <p class="title" style="color: rgba(235, 210, 210, 0.656)">
              President
            </p>
            <p>
              <button class="button" data-phone="+91 9911971320">
                <span>Contact</span>
              </button>
            </p>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Chief Managers</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Anusha.png" alt="Anusha Johary" />
            </div>
            <div class="content">
              <h2>Anusha Johary</h2>
              <p class="title">Vice President</p>
              <p>
                <button class="button" data-phone="+91 8824316403">
                  <span>Contact</span>
                </button>
              </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/karan.jpg" alt="Karan Bhatia" />
            </div>
            <div class="content">
              <h2>Karan Bhatia</h2>
              <p class="title">Chief Manager</p>
              <p>
                <button class="button" data-phone="+91 9034859381">
                  <span>Contact</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Chief Co-ordinators</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Ankur.png" alt="Ankur Sharma" />
            </div>
            <div class="content ">
              <h2>Ankur Sharma</h2>
            <p class="title">General secretary</p>
            <p>
              <button class="button" data-phone="+91 9817100675">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Shweta.png" alt="Shweta Singh" />
            </div>
            <div class="content">
              <h2>Shweta Singh</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 9653015552">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Simran.png" alt="Simran Kalal" />
            </div>
            <div class="content">
              <h2>Simran Kalal</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 7895468534">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/rishabh.jpg" alt="Rishabh Gupta" />
            </div>
            <div class="content">
              <h2>Rishabh Gupta</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 7814519145">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Akanksha.png" alt="Akansha Gautam" />
            </div>
            <div class="content">
              <h2>Akansha Gautam</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 9602376573">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Gajraj.png" alt="Gajraj Singh" />
            </div>
            <div class="content">
              <h2>Gajraj Singh</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 7895468534">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Aryan.jpg" alt="Aryan Mittal" />
            </div>
            <div class="content">
              <h2>Aryan Mittal</h2>
            <p class="title">Chief co-ordinator</p>
            <p>
              <button class="button" data-phone="+91 8901753530">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Cultural Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img style="scale: 1;" src="../../../assets/img/Seema.png" alt="Seema Charan" />
            </div>
            <div class="content">
              <h2>Seema Charan</h2>
            <p class="title">Cultural Head</p>
            <p>
              <button class="button" data-phone="+91 8690511388">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img  src="../../../assets/img/SnehilChhabra.png" alt="Snehil Chhabra" />
            </div>
            <div class="content">
              <h2>Snehil Chhabra</h2>
            <p class="title">Fahrenheit Coordinator</p>
            <p>
              <button class="button" data-phone="+91 8632810012">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Himanshi.png" alt="Himanshi Garg" />
            </div>
            <div class="content">
              <h2>Himanshi Garg</h2>
            <p class="title">Chronos</p>
            <p>
              <button class="button" data-phone="+91 6377503390">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Sports Coordinato</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/YogeshGodara.png" alt="Yogesh Godara" />
            </div>
            <div class="content">
              <h2>Yogesh Godara</h2>
            <p class="title">Sports coordinator</p>
            <p>
              <button class="button" data-phone="+91 9119385113">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Amit.jpg" alt="Amit Badetia" />
            </div>
            <div class="content">
              <h2>Amit Badetia</h2>
            <p class="title">Sports coordinator</p>
            <p>
              <button class="button" data-phone="+91 9587663203">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Maya.png" alt="Maya" />
            </div>
            <div class="content">
              <h2>Maya</h2>
            <p class="title">Sports Coordinator</p>
            <p>
              <button class="button" data-phone="+91 8094290216">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Fine Arts Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Aryanshi.png" alt="Aryanshi" />
            </div>
            <div class="content">
              <h2>Aryanshi</h2>
            <p class="title">Arts coordinator</p>
            <p>
              <button class="button" data-phone="+91 8828271461">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Avnendra.png" alt="Avnendra Yadav" />
            </div>
            <div class="content">
              <h2>Avnendra Yadav</h2>
            <p arts class="title">Arts coordinator</p>
            <p>
              <button class="button" data-phone="+91 9528645313">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">E- Gaming Coordinator</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Sathvik.png" alt="Sathvik Renee" />
            </div>
            <div class="content">
              <h2>Sathvik Renee</h2>
            <p class="title">Thunderbolt coordinator</p>
            <p>
              <button class="button" data-phone="+91 8688197119">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/ChandraPrakash.png" alt="Chandra Prakash" />
            </div>
            <div class="content">
              <h2>Chandra Prakash</h2>
            <p arts class="title">Thunderbolt coordinator</p>
            <p>
              <button class="button" data-phone="+91 9024150424">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Literary</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Harikrishnan.png" alt="Harikrishnan kodamana" />
            </div>
            <div class="content">
              <h2>Harikrishnan kodamana</h2>
            <p class="title">Cultural secretary</p>
            <p>
              <button class="button" data-phone="+91 9446108139">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Kuljeet.png" alt="Kuljeet Singh" />
            </div>
            <div class="content">
              <h2>Kuljeet Singh</h2>
            <p class="title">Literary Coordinator</p>
            <p>
              <button class="button" data-phone="+91 9915526967">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Anurag.png" alt="Anurag Gupta" />
            </div>
            <div class="content">
              <h2>Anurag Gupta</h2>
            <p class="title">Quiz Coordinator</p>
            <p>
              <button class="button" data-phone="91 7987339164">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Informals</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Abhilasha.png" alt="Abhilasha Singh" />
            </div>
            <div class="content">
              <h2>Abhilasha Singh</h2>
            <p class="title">Alfresco Coordinator</p>
            <p>
              <button class="button" data-phone="+91 8532820868">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Kunga.png" alt="Kunga Lamo" />
            </div>
            <div class="content">
              <h2>Kunga Lamo</h2>
            <p class="title">Alfresco Coordinator</p>
            <p>
              <button class="button" data-phone="+91 9459993632">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Shray.png" alt="Shray Budania" />
            </div>
            <div class="content">
              <h2>Shray Budania</h2>
            <p class="title">Alfresco Coordinator</p>
            <p>
              <button class="button" data-phone="+91 7737084106">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">IT Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Harshul.png" alt="Harshul Sood" />
            </div>
            <div class="content">
              <h2>Harshul Sood</h2>
            <p class="title">IT Secretary</p>
            <p>
              <button class="button" data-phone="+91 9781600817">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/chash.jpg" alt="Chash Jain" />
            </div>
            <div class="content">
              <h2>Chash Jain</h2>
            <p arts class="title">IT coordinator</p>
            <p>
              <button class="button" data-phone="+91 9460368522">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Public Relations Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Siddhant.png" alt="Siddhant Govekar" />
            </div>
            <div class="content">
              <h2>Siddhant Govekar</h2>
            <p class="title">PRO Committee</p>
            <p>
              <button class="button" data-phone="+91 8408976085">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Rajat.png" alt="Rajat Roge" />
            </div>
            <div class="content">
              <h2>Rajat Roge</h2>
            <p arts class="title">PRO Committee</p>
            <p>
              <button class="button" data-phone="+91 9552708508">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Accommodation</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Samarth.png" alt="Samarth Kerwal" />
            </div>
            <div class="content">
              <h2>Samarth Kerwal</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 7878721641">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/kashvi.jpg" alt="Kashvi Mehta" />
            </div>
            <div class="content">
              <h2>Kashvi Mehta</h2>
            <p arts class="title"></p>
            <p>
              <button class="button" data-phone="+91 8059516717">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Registration Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Arnab.png" alt="Arnab Medhi" />
            </div>
            <div class="content">
              <h2>Arnab Medhi</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 8266962468">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Saurabh.png" alt="Saurabh Ranakoti" />
            </div>
            <div class="content">
              <h2>Saurabh Ranakoti</h2>
            <p arts class="title"></p>
            <p>
              <button class="button" data-phone="+91 7351046460">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Event Coordinators</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/nisha.jpg" alt="Nisha Yadave" />
            </div>
            <div class="content">
              <h2>Nisha Yadav</h2>
            <p class="title">Nursing Representative</p>
            <p>
              <button class="button" data-phone="+91 7217581564">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/10.png" alt="Abhishek Sharma" />
            </div>
            <div class="content">
              <h2>Abhishek Sharma</h2>
            <p arts class="title">AHS Representative</p>
            <p>
              <button class="button" data-phone="+91 7790998815">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Event Managers</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Cyril.png" alt="Cyril Joel" />
            </div>
            <div class="content">
              <h2>Cyril Joel</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 9967311503">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Joy.png" alt="Joy Gupta" />
            </div>
            <div class="content">
              <h2>Joy Gupta</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 8319285838">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/YogeshKumawat.png" alt="Yogesh Kumawat" />
            </div>
            <div class="content">
              <h2>Yogesh Kumawat</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 9358446454">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Decoration Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Nainika.png" alt="Nainika Mittal" />
            </div>
            <div class="content">
              <h2>Nainika Mittal</h2>
              <p class="title"></p>
              <p>
                <button class="button" data-phone="+91 6378605822">
                  <span>Contact</span>
                </button>
              </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Shivam.png" alt="Shivam Soni" />
            </div>
            <div class="content">
              <h2>Shivam Soni</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 6376254159">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-center text-white mt-5 text-uppercase mb-5">Peace maintaining Committee</h3>
      <div class="box-container justify-content-center align-items-center text-center">
        <div class="card-container d-flex flex-wrap gap-4 justify-content-center">
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Neeraj.png" alt="Niraj Agarwal" />
            </div>
            <div class="content">
              <h2>Niraj Agarwal</h2>
            <p class="title"></p>
            <p>
              <button class="button" data-phone="+91 9135315171">
                <span>Contact</span>
              </button>
            </p>
            </div>
          </div>
          <div class="team-card">
            <div class="img-container">
              <img src="../../../assets/img/Sanjay.png" alt="Sanjay Kumar" />
            </div>
            <div class="content">
              <h2>Sanjay Kumar</h2>
              <p class="title"></p>
              <p>
                <button class="button" data-phone="+91 9588372688">
                  <span>Contact</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
