<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
            <h2 class="text-center fw-bold fs-1 text-light">SINFONIA</h2>
            <h3 class="text-center fw-bold text-warning">Music Competition </h3>
        <!-- <div class="poster w-100">
            <img width="100%" height="80%" src="../../../../../assets/images/EVENTS/velocity/velocity-poster.png" alt="poster">
        </div> -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sinfonia (Music Competition)</li>
            </ol>
        </nav>
        <div class="sports music1 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//MUSIC1.webp" alt="">
            </div>

            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Tarang- Indian Singing competition</h3>
                <p>Indian music boasts a rich tapestry of diverse styles and traditions, reflecting the country's cultural heritage. Classical music, with its two main genres - Hindustani and Carnatic, emphasizes intricate melodies and rhythmic patterns. Bollywood music is beloved for its fusion of traditional and contemporary elements in Indian film songs. Folk music showcases regional flavors and storytelling. Instruments like sitar, tabla, and veena add distinctive charm. Indian music transcends boundaries, touching hearts globally with its emotive expressions and captivating melodies, enthralling audiences with its time-honored artistry.</p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <div class="rate d-flex justify-content-between">
                        <p>Solo- ₹150</p>
                        <p>Duet- ₹200 </p>
                        <p>Group- ₹300</p>
                    </div>
                    
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/music-rules">Rule</a>
            </div>
        </div>
        <div class="sports music2 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//MUSIC2.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Acapella- Western Singing competition</h3>
                <p>Western music encompasses a wide array of genres, evolving over centuries in Europe and the Americas. Classical music, characterized by symphonies and operas, has an enduring legacy. Pop, rock, jazz, and blues showcase diverse styles with global appeal. Instruments like guitar, piano, and drums are prevalent. Western music has influenced the world, celebrated for its innovation, artistic expression, and cultural impact. It continues to inspire musicians and audiences alike, shaping contemporary music and leaving an indelible mark on the global musical landscape.</p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <div class="rate d-flex justify-content-between">
                    <p>Solo- ₹150</p>
                    <p>Duet- ₹200 </p>
                    <p>Group- ₹300</p>
                </div>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/music-rules">Rule</a>
            </div>
        </div>
        <div class="sports music3 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//MUSIC3.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Metallica- Instrumental
                    competition. </h3>
                <p>Vibrant and energetic street theatre music, free from vocals, relies solely on instruments to convey emotions and tell stories. From classical symphonies and jazz improvisations to soothing ambient melodies, instrumental compositions evoke a range of feelings and moods. Instruments like piano, violin, guitar, and saxophone take center stage, showcasing virtuosity and artistic expression. Widely used in soundtracks, instrumental music sets the tone for movies, games, and events. With its universal language, instrumental music transcends cultural barriers, connecting listeners worldwide and offering a captivating journey of pure musicality.</p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <div class="rate d-flex justify-content-between">
                        <p>Solo- ₹400</p>
                        <p>Duet- ₹500 </p>
                    </div>  
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/music-rules">Rule</a>
            </div>
        </div>
        <div class="sports music4 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//MUSIC4.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">8 MILE (Rap battle and beat boxing)</h3>
                <p>Beatboxing, a vocal art form, mimics drum sounds and beats using the mouth, voice, and lips, creating rhythmic patterns and music. It complements rap battles, where MCs engage in lyrical contests, showcasing their rhyming skills and wit. Together, beatboxing and rap battles form an electrifying fusion of vocal prowess and wordplay, captivating audiences with their impressive displays of talent and creativity. These dynamic expressions of hip-hop culture have become a global phenomenon, empowering artists to push the boundaries of vocal performance and entertain with their unique rhythmic abilities.</p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <div class="rate d-flex justify-content-between">
                        <p>Solo- ₹100</p>
                        <p>Duet- ₹150 </p>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/music-rules">Rule</a>
            </div>
        </div>
        <div class="sports music5 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../../assets/images/EVENTS/solasta//MUSIC5.webp" alt="">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">Battle of Bands</h3>
                <p>Battle of music bands is a thrilling competition where diverse musical groups showcase their talent, originality, and stage presence. Bands from various genres, such as rock, pop, and indie, go head-to-head, vying for audience applause and recognition. The event fosters a sense of camaraderie among musicians while encouraging them to elevate their performances to new heights. With electrifying performances and passionate musicianship, battle of music bands showcases the power of live music, leaving audiences enthralled and inspired by the boundless creativity and energy displayed on stage.</p>
                <div class="registration">
                    <h2 class="mb-3">Registration Fee: </h2>
                    <div class="rate d-flex justify-content-between">
                        <p>Early bird ₹600/band</p>
                        <p>On the spot: ₹800/band.</p>
                    </div>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/music-rules">Rule</a>
            </div>
        </div>
</div>

