<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >CRICKET</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Cricket Rule</a></li>
                </ol>
            </nav>
            <hr>
            <h3>RULES FOR PLAY </h3>
            <ul>
                <li>Tournament will be conducted in knockout format.</li>
                <li>All matches will be of 20 overs (maximum)</li>
                <li>Each team can have a squad of 15 players (11) Tournament will be conducted in knockout format.*</li>
                <li>Each team can have a squad of 15
                    players(11+4sub)</li>
                <li>The playing 11 cannot be changed once submitted before the match.</li>
                <li>The captain needs to give the list of playing 11 before the start of match.</li>
                <li>No player can participate from 2 teams.If this occur, it would lead to the disqualification of both teams</li>
                <li>AlI ICC rules will be followed except LBW .In case of rain D/L method as per icc rules is applicable.</li>
                <li>During play, the umpires decision is the final decision</li>
                <li>If any player didn't field for min 8 overs then he will not be eligible to bat or bowl for the remaining match</li>
                <li>In case if any team does not reach at the ground for match at the scheduled time due to a valid reason, then in next 15 min they should be present otherwise the opponent will get bye. (If both the team don't reach then both will be disqualified)</li>
            </ul>
            <h3>Eligibility of participation:</h3>
            <ul>
                <li>All the player must be student of their representative College (ug 2018-2023,JR,SR).</li>
                <li>All players should be registered as per fests basic registration rules.</li>
                <li>All player must bring their identity card of their respective College.</li>
                <li>In case of dispute against any player, player should produce valid documents (For UG- institute ID Card, marksheet, library card, Aadhaar Card ) For Residents, faculties- bank statement, joining letter. 
                    If he fails to produce team will be disqualified.</li>
                <li>Only UGs of dental and nursing colleges can participate </li>
                <li>SRs , JRs of MBBS colleges can participate</li>
            </ul>
            <h3>General Regulations:</h3>
            <ul>
                <li>Smoking or consumption of alcohol inside the ground are strictly prohibited, If found consuming such things, entire team will be disqualified from fest.</li>
                <li>Misbehaviour with other team, sports committee, match umpires is prohibited if found team will be disqualified with immediate effect and no refund will be provided.</li>
                <li>All matches will be played with white leather ball.</li>
                <li>As much as possible, the team mates should wear same coloured jersey during the match.</li>
                <li>White coloured jerseys are not allowed during match.</li>
                <li>Metal spikes are not allowed, only normal sports shoes and rubber spikes are allowed.</li>
                <li>Each team should get their personal kit including bat and practice ball.</li>
                <li>We will provide only the match balls. No practice balls will be provided.</li>
                <li>Please take care of your kits and belongings, if lost they would not be the managements responsibility.</li>
                <li>Drinking water will be made available.</li>
                <li>All teams must report 15mins before the scheduled time.</li>
                <li>Please respect the officials and players in all cases.</li>
                <li>The umpires decision would be final.</li>
                <li>There is no specific age limit.</li>
                <li>Scoring will be both online (cricheroes) and offline.</li>
            </ul>
    </div>
</div>
