<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >TABLE TENNIS</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Table Tennis Rule</a></li>
                </ol>
            </nav>
            <hr>
            <h3>RULES FOR PLAY </h3>
            <ul>
                <li>Each team has to bring their id card on court on match day. (mandatory) Each team has to get their personal racquet.</li>
                <li>Please take care of your kits and belongings, if lost they would not be the management’s responsibility.
                </li>
                <li>All teams must report 15 minutes before the scheduled time.</li>
                <li>Please respect the officials and the other players. In all cases, the referee’s decision would be final. Disputes will be resolved by the organizing committee after discussions with the officials.</li>
                <li>Teams are liable to disqualification against breach of disciplinary conduct if players/management are involved in illegal activities as per institute norms in AIIMS Rishikesh.</li>
                <li>All matches will be knockout</li>
            </ul>
            <h3>THE SERVICE:</h3>
            <ul>
                <li>Service shall start with the ball resting freely on the open palm of the server's stationary free hand.</li>
                <li>The server shall then project the ball near vertically upwards, without imparting spin, so that it rises at least 16cm after leaving the palm of the free hand and then falls without touching anything before being struck.</li>
                <li>As the ball is falling the server shall strike it so that it touches first his or her court and then touches directly the receiver's court; in doubles, the ball shall touch successively the right half court of server and receiver.</li>
                <li>From the start of service until it is struck, the ball shall be above the level of the playing surface and behind the server's end line, and it shall not be hidden from the receiver by the server or his or her doubles partner or by anything they wear or carry.</li>
                <li>As soon as the ball has been projected the server's free arm and hand shall be removed from the space between the ball and the net. The space between the ball and the net is defined by the ball, the net and its indefinite upward extension.</li>
                <li>It is the responsibility of the player to serve so that the umpire or the assistant umpire can be satisfied that he or she complies with the requirements of the Laws, and either may decide that a service is incorrect</li>
                <li>If either the umpire or the assistant umpire is not sure about the legality of a service he or she may, on the first occasion in a match, interrupt play and warn the server, but any subsequent service by that player or his or her doubles partner which is not clearly legal shall be considered incorrect.</li>
            </ul>
            <h3>THE RETURN:</h3>
            <ul>The ball, having been served or returned, shall be struck so that it touches the opponent's court, either directly or after touching the net assembly.</ul>
            <h3>THE ORDER OF PLAY:</h3>
            <ul>
                <li>
                    In singles, the server shall first make a service, the receiver shall then make a return andthereafter server and receiver alternately shall each make a return.</li>
                <li>In doubles, the server shall first make a service, the receiver shall then make a return, the partner of the server shall then make a return, the partner of the receiver shall then make a return and thereafter each player in tum in that sequence shall make a return.</li>
            </ul>
            <h3>A LET:</h3>
            <ul>
                <li>
                    If in service the ball touches the net assembly, provided the service is otherwise correct or 
                    the ball is obstructed by the receiver or his or her partner.</li>
                <li>If the service is delivered when the receiving player or pair is not ready provided that 
                    neither the receiver nor his or her partner attempts to strike the ball.
                    </li>
                <li>
                    If failure to make a service or a return or otherwise to comply with the Laws is due to a 
                    disturbance outside the control of the player.
                    </li>
                <li>If play is interrupted by the umpire or assistant umpire:</li>
                <li>To correct an error in the order of serving, receiving or ends.</li>
                <li>
                    To warn or penalise a player or adviser, because the conditions of play are disturbed in a way which could affect the outcome of game.
                    </li>
            </ul>
            <h3>A POINT:</h3>
            <ul>
                <li>Unless the rally is a let a player shall score a point</li>
                <li>If an opponent fails to make a correct service.</li>
                <li>If an opponent fails to make a correct return.</li>
                <li>If, after he or she has made a service or a return, the bail touches anything other than the net assembly before being struck by an opponent.</li>
                <li>If the ball passes over his or her court or beyond his or her end line without touching his or her court, after being struck by an opponent:</li>
                <li>
                    If the ball, after being struck by an opponent, passes through the net or between the net and the net post or between the net and playing surface.</li>
                <li>If an opponent obstructs the ball.</li>
                <li>
                    If an opponent deliberately strikes the ball twice in succession.</li>
                <li>If an opponent, or anything an opponent wears or carries, moves the playing surface.</li>
                <li>
                    If an opponent, or anything an opponent wears or carries, touches the net assembly.</li>
                <li>
                    If an opponent's free hand touches the playing surface and first receiver.</li>
                <li>
                    If the ball, after being struck by an opponent, touches the roof.</li>
                <li>If a doubles opponent strikes the ball out of the sequence established by the first server .</li>
            </ul>
            <h3>A GAME:</h3>
            <ul>

A game shall be won by the player or pair first scoring 11 points unless both players or pairs score 10 points, when the game shall be won by the first player or pair subsequently gaining a lead of 2 points.

            </ul>
            <h3>A MATCH:</h3>
            <ul>A match shall consist of the best of any odd number of games.</ul>
            <h3>THE ORDER OF SERVING, RECEIVING AND ENDS:</h3>
            <ul>
                <li>The right to choose the initial order of serving, receiving and ends shall be decided by lot and the winner may choose to serve or to receive first or to start at a particular end. ● When one player or pair has chosen to serve or to receive first or to start at a particular and, the other player or pair shall have the other choice.</li>
                <li>After each 2 points have been scored the receiving player or pair shall become the serving player or pair and so on until the end of the game, unless both players or pairs score 10 points or the expedite system is in operation, when the sequences of serving and receiving shall be the same but each player shall serve for only 1 point in turn.</li>
                <li>In each game of a doubles match, the pair having the right to serve first shall choose which of them will do so and in the first game of a match the receiving pair shall decide which of them will receive first; in subsequent games of the match, the first server having been chosen, the first receiver shall be the player who served to him or her in the preceding game.</li>
                <li>In doubles, at each change of service the previous receiver shall become the server and the partner of the previous server shall become the receiver.</li>
                <li>The player or pair serving first in a game shall receive first in the next game of the match and in the last possible game of a doubles match the pair due to receive next shall change their order of receiving when first one pair scores 5 points.</li>
                <li>The player or pair starting at one end in a game shall start at the other end in the next game of the match and in the last possible game of a match the players or pairs shall change ends when first one player or pair scores 5 points.
                </li>
            </ul>
            <h3>OUT OF ORDER OF SERVING, RECEIVING OR ENDS:</h3>
            <ul>
                <li>If a player serves or receives out of turn, play shall be interrupted by the umpire as soon as the error is discovered and shall resume with those players serving and receiving who should be server and receiver respectively at the score that has been reached, according to the sequence established at the beginning of the match and, in doubles, to the order of serving chosen by the pair having the right to serve first in the game during which the error is discovered.
                </li>
                <li>If the players have not changed ends when they should have done so, play shall be interrupted by the umpire as soon as the error is discovered and shall resume with the players at the ends at which they should be at the score that has been reached, according to the sequence established at the beginning of the match.</li>
                <li>
                    In any circumstances, all points scored before the discovery of an error shall be reckoned.</li>
            </ul>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Vinod kuldeep -78912 86661</p>
                <p>Shivam singla - 7814024578</p>
                <p>Abhay Mehta - 9915998439</p>
            </div>
            <hr>


    </div>
</div>
