<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >LAWN TENNIS</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Lawn Tennis Rule</a></li>
                </ol>
            </nav>
            
            <hr>
            <h4>RULES FOR PLAY </h4>

            <h3>Singles:</h3>
            <ul>
                <li>The game starts with a coin toss to determine which player must serve first and which side they want to serve from.</li>
                <li>The server must then serve each point from alternative sides on the base line. At no point must the server’s feet move in front of the baseline on the court prior to hitting their serve.</li>
                <li>If the server fails to get their first serve in they may take advantage of a second serve. If they again fail to get their second serve in then a double fault will be called and the point lost.</li>
                <li>If the server clips the net but the ball goes in the service area still then let is called and they get to take that serve again without penalty. If the ball hits the net and fails to go in the service area then out is called and they lose that serve.</li>
                <li>The receiver may stand where they wish upon receipt of the serve. If the ball is struck without the serve bouncing then the server will receive the point.</li>
                <li>Once a serve has been made the amount of shots between the players can be unlimited. The point is won by hitting the ball so the opponent fails to return it in the scoring areas.</li>
                <li>Points are awarded in scores of 15, 30 and 40. 15 represent 1 point, 30 = 2 and 40 = 3. You need 4 points to win a game. If a game lands on 40-40 it’s known as deuce. From deuce a player needs to win 2 consecutive points to win the game. After winning one point from deuce they player is on advantage. If the player wins the next point they win the game, if they lose it goes back to deuce.</li>
                <li>To win the set a player must win 6 games by 2 or more. The opening sets will go to a tie break if its ends up 6-6 where players play first to 7 points. The final set will not have a tie break and requires players to win by two games with no limits.</li>
                <li>If a player touches the net, distracts his opponent or impedes in anyway then they automatically lose the point.</li>
                <li>The ball can hit any part of the line for the point to be called in, outside the line and the ball is out.</li>
                <li>A player loses a point if they fail to return the ball in either the correct areas on the court, hits the net and doesn’t go into opponent’s area or fails to return the ball before it bounces twice in their half.</li>
            </ul>
            <h3>Doubles:</h3>
            <ul>
                <li>Players within a pair do not have to hit alternate shots.</li>
                <li>However, the serve rotates so that each player serves once every fourth game.
                    For instance from Player A in Pair A, to Player B in pair B, back to Player C in Pair A and then to Player D in Pair B.
                    Players can only change the order of serving and receiving at the end of a set.
                    The server's partner and the receiver's partner may stand anywhere they like on the court during the serve, even if it obstructs play.</li>
            </ul>
            <h3>In and outs:</h3>
            <ul>In a game of singles, the ball must be hit within both “SERVICE COURTS”, the “BACK COURT” and the “ALLEY LINE” as marked in the diagram below for a point to be scored. Balls hit in the between the “SIDE LINE” and “ALLEY LINE” are considered balls hit out of court and thus earning your opponent a point.
                In a doubles game, the ball must be hit within both “SERVICE COURTS”, the “BACK COURT” and the area between the “ALLEY LINE” and “SIDE LINE” for a point to be scored.</ul>

            <h3>Scoring:</h3>
            <ul>
                You need to score four points to win a game of tennis. The points are known as 15 (1 point), 30
(two points), 40 (three points) and the fourth would result in the winning point and the end of
that game. If the scores went to 40-40 this would be known as deuce. When a game reaches
deuce the player must then win by two clear points.

            </ul>
            <h3>Match:</h3>
            <ul>
                <li>All points will be played according to the rule.
                    The organizer can limit the number of games to win according to time and situation.</li>
                <li>The decision of the line-men and the umpire will be final and binding.</li>
                <li>Depending upon the number of participations the number of sets and set point may
                    change. This will be communicated to the player prior to match.
                    </li>
                <li>Each team has to bring their id card on court on match day.(mandatory)</li>
                <li>Each team has to get their personal racquet</li>
                <li>All teams must report 30 Minutes before the scheduled time.
                </li>
                <li>Please take care of your kits and belongings, if lost they would not be the management’s responsibility
                </li>
                <li>Please respect the officials and the other players. In all cases, the referee’s decision would be final. Disputes will be resolved by organizing committee after discussion with officials
                </li>
                <li>Teams are liable to disqualification against breach of disciplinary conduct if players/management are involved in illegal activities as per institute norms in AIIMS Rishikesh.</li>
                <li>Incase of dispute, decision as concluded with reference to the rulebook by International Tennis Federation (https://www.itftennis.com/media/2510/2020-rules-of-tennis-english.pdf)  must be considered final.</li>
            </ul>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Joy - 8319285838</p>
                <p>Sourish ohri - 7009833058</p>
                <p>Aaryan pannu - 7206286033</p>
                <p>Ekjot singh - 8779980563</p>
            </div>
            <hr>
    </div>
</div>
