<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >VOLLEYBALL</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Volleyball Rule</a></li>
                </ol>
            </nav>
            
            <hr>                                                                                                                                         
            <h3>Eligibility for Participation:</h3>
            <ul>
               <li>All players should be currently registered and studying in the same college.
                (Only intern and ug students are allowed.)</li>
               <li>All players must carry valid i-card before the start of every match.
            </li>
               <li>In-case of protest against the admission of a player into a particular college, said player must current semester mark-sheet or website registration details as proof of admission within 4 hours of intimation to avoid disqualification.
            </li>
            </ul>
            <h3>General Regulations:</h3>
            <ul>
                <li>Teams are liable to disqualification against breach of disciplinary conduct if players/ management are involved in illegal activities as per institute norms in AIIMS Rishikesh.</li>
                <li>Smoking/consumption of alcohol or any prohibited substances inside the campus are strictly prohibited. Entire team will be disqualified from the tournament even if a single player found to be violating these rules.</li>
                <li>Each team has to bring their id card on court on match day.(mandatory)</li>
                <li>Each team has to get their personal kits, proper kit is compulsory that is t-shirt, shorts, shoes.</li>
                <li>We will provide the match balls.
                </li>
                <li>Please take care of your kits and belongings, if lost they would not be the management’s responsibility.</li>
                <li>Drinking water will be available.
                </li>
                <li>All teams must report 30 Minutes before the scheduled time.</li>
                <li>Please respect the officials and the other players. In all cases, the referee’s decision would be final. Disputes will be resolved by organising committee after discussions with the officials.</li>
                <li>There is no specific age limit.</li>
            </ul>
            <h3>Rules of Play:</h3>
            <ul>
                <li>The rules of the International Volleyball Federation as adopted from time to time by the All India Volleyball Association shall apply, except rotation.
                </li>
                <li>Each college must submit the list of players, not more than 12.</li>
                <li>All matches will be knockouts and of 3 sets of 25 points, except semifinals and finals of 5 sets with last set of 15</li>
                <li>The following points system will be followed for the matches played on league basis.</li>
                <ul>
                    <li>Match Won : 3 points
                    </li>
                    <li>Match Lost : 0 point</li>
                    <li>Match abandoned : 1 point
                    </li>
                </ul>
                <li>Any team refusing to play match without justification will be eliminated from the competition and the results of the matches already played will be cancelled.</li>
                <li>In case of teams having equal points the following equation will determine the ranking.</li>
                <li>Z = Total number of sets won ÷ Total number of sets lost
                </li>
                <li>The team with higher ratio “Z” will be ranked higher.

                </li>
                <li>If the tie still remains, then the following system will be applied.</li>
                <li>X = Total number of points won ÷ Total number of lost points.</li>
                <li>The team with higher ratio “X” will be ranked higher.</li>
                <li>If the tie still remains, precedence will be given to the team winning that match, in which they played against each other.</li>
                <li>In no circumstances extra match will be played to determine which team ranked higher. The tally of all matches played in the league fixture will be considered.

                </li>
            </ul>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Shivam : 97289 31493</p>
                <p>Ankit : 7073972490</p>
                <p>Rajveer: 7357045966</p>
                <p>Shian : 7982887688</p>
            </div>
            <hr>
    </div>
</div>
