<div class="program pb-5">
    <div class="container">
        <h2 class="fw-bold text-center mt-5 mb-5 text-white ">Program Details</h2>
        <div class="line">
            <div class="bullets">
                <div class="bullet-1"></div>
                <div class="bullet-2"></div>
                <div class="bullet-3"></div>
                <div class="bullet-4"></div>
                <div class="bullet-5"></div>
                <div class="bullet-6"></div>
                <div class="bullet-7"></div>
                <div class="bullet-8"></div>
            </div>
        </div>
        <div class="programme-right d-flex w-100 aline-item-end justify-content-end mb-5 mt-5">
            <div class="program-right-card ">
                <h3 class=" fw-bold ">Fahrenheit</h3>
                <h5 class=" fw-bold ">Opening Ceremony</h5>
                <div class="img-box">
                    <a>
                        <img width="100%" src="../../../assets/images/Progrrame/Fareneheit.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="programme-left d-flex w-100 aline-item-start justify-content-start mb-5 mt-5">
            <div class="program-left-card  d-flex flex-column ">
                <h3 class=" fw-bold ">Chronos</h3>
                <h5 class=" fw-bold ">Fashion Show</h5>
                <div class="img-box">
                    <a routerLink="/chronos">
                        <img width="100%" src="../../../assets/images/Progrrame/Affasinato.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    <div class="programme-right d-flex w-100 aline-item-end justify-content-end mb-5 mt-5">
        <div class="program-right-card ">
            <h3 class=" fw-bold ">Solasta</h3>
            <h5 class=" fw-bold ">Cultural Event</h5>
            <div class="img-box">
                <a routerLink="/solasta">
                    <img width="100%" src="../../../assets/images/Progrrame/Solasta.webp" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="programme-left d-flex w-100 aline-item-start justify-content-start mb-5 mt-5">
        <div class="program-left-card  d-flex flex-column ">
            <h3 class=" fw-bold ">Velocity</h3>
            <h5 class=" fw-bold ">Sports Event</h5>
            <div class="img-box">
                <a routerLink="/velocity">
                    <img width="100%" src="../../../assets/images/Progrrame/Velocity.webp" alt="">
                </a> 
            </div>
        </div>
    </div>
    <div class="programme-right d-flex w-100 aline-item-end justify-content-end mb-5 mt-5">
        <div class="program-right-card ">
            <h3 class=" fw-bolder ">Thunderbolt</h3>
            <h5 class=" fw-bold ">E Gaming Event</h5>
            <div class="img-box">
                <a routerLink="/thunderbolt">
                    <img width="100%" src="../../../assets/images/Progrrame/Thunderbolt.webp" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="programme-left d-flex w-100 aline-item-start justify-content-start mb-5 mt-5">
        <div class="program-left-card d-flex flex-column ">
            <h3 class=" fw-bold ">LITtMania</h3>
            <h5 class=" fw-bold ">Literary Event</h5>
            <div class="img-box">
                <a routerLink="/littmania">
                    <img width="100%" src="../../../assets/images/Progrrame/littmania.webp" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="programme-right d-flex w-100 aline-item-end justify-content-end mb-5 mt-5">
        <div class="program-right-card ">
            <h3 class=" fw-bolder ">Kalakriti</h3>
            <h5 class=" fw-bold ">Fine Arts Event</h5>
            <div class="img-box">
                <a routerLink="/kalakriti">
                    <img width="100%" src="../../../assets/images/Progrrame/kalakriti.webp" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="programme-left d-flex w-100 aline-item-start justify-content-start mb-5 mt-5">
        <div class="program-left-card d-flex flex-column ">
            <h3 class=" fw-bold ">Alfresco</h3>
            <h5 class=" fw-bold ">Informals Event</h5>
            <div class="img-box">
                <a routerLink="/Alfresco">
                    <img width="100%" src="../../../assets/images/Progrrame/Alfresco.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
</div>

