<div class="litmaniarules p-5">
    <div
        class="container d-flex flex-column justify-content-center aline-item-center">
        <h1 class="text-center text-white fw-bold mt-3">Kalakriti</h1>
        <p class="text-center text-white fw-bold">RULES</p>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/kalakriti">Kalakriti 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Fantasy Faces</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants must adhere to the designated theme for the
                        competition. The theme will be announced before the
                        competition begins.</li>
                    <li>This is a team event. Each team must comprise of two
                        participants where one person will act as the canvas and
                        the other as the artist. The roles cannot be switched
                        once the competition starts.</li>
                    <li>Duration of the competition will be 1.5 hours</li>
                    <li>The participants will not be allowed to use any
                        electronic devices during this period.</li>
                    <li>Acrylic colours and brushes will be provided.</li>
                    <li>Designs should be appropriate. Any design that is
                        offensive or inappropriate will be disqualified.</li>
                    <li>Decision of the judges will be final and abiding. </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Caffeine Creations</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants must adhere to the designated theme for the
                        competition. The theme will be announced before the
                        competition begins.</li>
                    <li>Only individual participation is allowed.</li>
                    <li>Duration of the competition will be 1 hour.</li>
                    <li>The participants will not be allowed to use any
                        electronic devices during this period.</li>
                    <li>Materials like coffee, brushes and sheets would be
                        provided to the participants. The use of pencils, paints
                        or any other media is not allowed.</li>
                    <li>Decision of the judges will be final and abiding.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Colorful Contours</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>All participants must adhere to the specified theme for their Rangoli design. The theme will be announced at the beginning of the competition.</li>
                    <li>This is a team event. Each team must comprise of two or three participants.</li>
                    <li>Duration of the competition will be 2 hours.</li>
                    <li>The participants will not be allowed to use any electronic devices during this period.</li>
                    <li>Traditional Rangoli coloured powders will be provided to the participants. However, participants are encouraged to bring their own additional materials like chalk, sieve etc.</li>
                    <li>Decision of the judges will be final and abiding.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Brushless Strokes</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
                    <li>Only individual participation is allowed.</li>
                    <li>Duration of the competition will be 1.5 hours.</li>
                    <li>The participants will not be allowed to use any electronic devices during this period.</li>
                    <li>Paints and sheets will be provided. However, participants are welcome to bring their own materials like sponge, knives etc.</li>
                    <li>The use of brushes is strictly prohibited. </li>
                    <li>Decision of the judges will be final and abiding.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Acrylic Odyssey</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
                    <li>Only individual participation is allowed.</li>
                    <li>Duration of the competition will be 2 hours.</li>
                    <li>The participants will not be allowed to use any electronic devices during this period.</li>
                    <li>Canvas, paints and brushes will be provided. However, participants are welcome to bring their own materials (except canvas).</li>
                    <li>Decision of the judges will be final and abiding.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Tattoo Tales</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
                    <li>This is a team event. Each team must comprise of two participants where one person will act as the canvas and the other as the artist. The roles cannot be switched once the competition starts</li>
                    <li>Duration of the competition will be 1.5 hours.</li>
                    <li>The participants will not be allowed to use any electronic devices during this period.</li>
                    <li>Acrylic paints and brushes will be provided. However, participants are welcome to bring their own materials.</li>
                    <li>Designs should be appropriate. Any design that is offensive or inappropriate will be disqualified.</li>
                </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Contrast Chronicles</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                   <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.
                </li>
                   <li>Only individual participation is allowed.</li>
                   <li>Duration of the competition will be 2 hours.</li>
                   <li>The participants will not be allowed to use any electronic devices during this period.</li>
                   <li>A4 sheets and Pencils will be provided. However, participants are welcome to bring any additional materials such as charcoal etc. of their choice.</li>
                   <li>Decision of the judges will be final and abiding</li>
             </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Cupful of Doodles</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                 <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
                 <li>Only individual participation is allowed.</li>
                 <li>Duration of the competition will be 1 hour.</li>
                 <li>The participants will not be allowed to use any electronic devices during this period.</li>
                 <li>Paper cups and Sketch pens would be provided.</li>
                 <li>Designs should be appropriate. Any design that is offensive or inappropriate will be disqualified.</li>
                 <li>Decision of the judges will be final and abiding</li>
             </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Splash Tees</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                 <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
                 <li>Only individual participation is allowed.</li>
                 <li>Duration of the competition will be 1.5 hours.</li>
                 <li>The participants will not be allowed to use any electronic devices during this period.</li>
                 <li>Tshirts, paints and brushes will be provided. However, participants are welcome to bring their own materials (except T shirt).</li>
                 <li>Designs should be appropriate. Any design that is offensive or inappropriate will be disqualified.</li>
                 <li>Decision of the judges will be final and abiding.</li>
             </ul> 
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Mehendi Mania</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                <li>This is a team event. Each team must comprise of two participants where one person will act as the canvas and the other as the artist. The roles cannot be switched once the competition starts.</li>
                <li>Duration of the competition will be 1 hour.</li>
                <li>The participants will not be allowed to use any electronic devices during this period.</li>
                <li>Henna cones will be provided.</li>
                <li>Decision of the judges will be final and abiding.</li>
             </ul> 
          </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Brush Of Pebbles</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
               <li>Participants must adhere to the designated theme for the competition. The theme will be announced before the competition begins.</li>
               <li>Only individual participation is allowed.</li>
               <li>Duration of the competition will be 1.5 hours.</li>
               <li>The participants will not be allowed to use any electronic devices during this period.</li>
               <li>Stones, acrylic paints and brushes will be provided. However, participants are welcome to bring their own materials.</li>
               <li>Decision of the judges will be final and abiding.</li>
             </ul> 
          </div>
        </div>

    </div>
</div>
