<div class="general-rules text-white bg-black">
    <div class="container d-flex flex-column">
            <h2 class="mt-5 fw-bold text-center" >CHESS</h2>
            <p class="fw-bold text-center">Rules</p>
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                    <li class="breadcrumb-item"><a routerLink="/velocity">Velocity 》</a></li>
                    <li class="breadcrumb-item"><a>Chess Rule</a></li>
                </ol>
            </nav>
            
            <hr>                                                                                                                                         
            <h3>Rapid :</h3>
            <ul>
                <li>15 minutes each side without increment</li>
            </ul>
            <h3>Blitz :</h3>
            <ul>
                <li>5 minutes each side with 2 seconds increment per move </li>
            </ul>
            <h3>Bullet :</h3>
            <ul>
                <li>2 minutes each with 1 second increment</li>
            </ul>
            <h3>Rules :</h3>
            <ul>
                <li>All rules will be according to standard FIDE laws of chess.</li>
                <li> Just one illegal move will be allowed and second illegal move will result in loss of game. This rule is applicable for all three formats.
                </li>
                <li>Chess clocks may or may not be provided,so kindly download chess clock app from Play Store.</li>
                <li>Tournament will be conducted in knockout format.
                </li>
                <li>Illegal moves should be reported to the arbiter .</li>
                <li>The organisers will have the final authority over any discrepancies.</li>
            </ul>
            <hr>
            <h3 class="mt-3 text-center mb-3">For queries, contact:</h3>
            <div class="contact d-flex flex-wrap justify-content-between">
                <p>Kaushal - 8830933904</p>
                <p>Devansh - 9121038856</p>
            </div>
            <hr>
    </div>
</div>
