<div class="dancerules p-5 w-100 bg-black text-white">
    <div class="container m-auto d-flex flex-column">
        <h4 class="text-center fw-bold text-warning">PYREXIA GOT TALENT</h4>
        <h2 class="text-center mb-5 fw-bold text-light"> RULES</h2>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pyrexia Got Talent Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex flex-column">
            <h3>Eligibility: </h3>
            <p> Only registered participants of the college fest are eligible to participate in the talent round. Ensure that participants have valid identification to verify their enrolment in the college.</p>
            <p>The entry should contain:</p>
            <ul>
                <li>Name of the participant </li>
                <li>Batch of the participant </li>
                <li>Contact no of the participant</li>
                <li>College of the participant </li>
                <li>Screenshot of the payment</li>
            </ul>
            <p>There will be single round in the competition  </p>
            <p>The time limit is expected to be 3 mins but it can negotiate as per act. Please contact the respective organisers for the purpose.</p>
            <p>Only those acts which do not fall under any of the competition being organised have to register for the competition 
            </p>
            <p>Participants are required to carry their own props and instruments if needed.</p>
            <p>Any performance that includes vulgar language, offensive gestures, or explicit content is prohibited.
            </p>
            <p>Safety Measures: If any act involves activities that may pose risks, such as fire performances or acrobatics, require participants to provide a detailed safety plan for their act</p>
            <p>Judging Criteria includes  factors like creativity, stage presence, technical skill, audience engagement, and overall performance.</p>
            <p> judges' decisions are final and cannot be challenged or appealed.</p>
        </div>
    </div>
</div>

