<div class="litmaniarules p-5">
    <div
        class="container d-flex flex-column justify-content-center aline-item-center">
        <h1 class="text-center text-white fw-bold mt-3">LITtMania</h1>
        <p class="text-center text-white fw-bold">RULES</p> 
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/littmania">LITtMania 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">JAM- Just A Minute</h3>
            </div>
            <div class="event-rule p-3">
                <p>Language: English only</p>
                <p>Time limit: 60 seconds</p>
                <p>The event will be held in two rounds.</p>
                <ul>
                    <li>Preliminary/ Screening Round</li>
                    <li>Final Round</li>
                </ul>
                <p>Rules</p>
                <ul>
                    <li>One minute</li>
                    <li>No hesitation</li>
                    <li>No repetition</li>
                    <li>No deviation</li>
                </ul>
                <p>The decision of the JAM Master shall be final. Further
                    details
                    will be conveyed on spot.</p>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Poetry Slam</h3>
            </div>
            <div class="event-rule p-3">
                <p>Language: Hindi/English. Event will be held in two rounds.</p>
                <ul>
                    <li>Preliminary Round: No topic. Screening will be done
                        based
                        on a 3-minutes performance.</li>
                    <li>Final Round: Selected participants will make it to the
                        final
                        round and stand a chance to win exciting prizes. Time
                        limit:
                        3 minutes. Extra 30 seconds for introduction of your
                        poetry.</li>
                </ul>
                <p>Participants must bring two separate poems for both rounds.</p>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">
                    Abhivyakti:
                    Creative Writing
                    (Hindi)</h3>
            </div>
            <div class="event-rule p-3">
                <p>Language: Hindi</p>
                <p>Time limit: 60 minutes.</p>
                <p>Word limit: 300 words.</p>
                <p>The details regarding the topic shall be conveyed on
                    the spot only. Plagiarism is strictly prohibited.</p>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">
                    Rhapsody:
                    Creative Writing
                    (English)</h3>
            </div>
            <div class="event-rule p-3">
                <p>Language: English</p>
                <p>Time limit: 60 minutes.</p>
                <p>Word limit: 300 words.</p>
                <p>The details regarding the topic shall be conveyed on
                    the spot only. Plagiarism is strictly prohibited.</p>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Logophilia</h3>
            </div>
            <div class="event-rule p-3">
                <p></p>Language: English
                <p></p>The event will be held in two rounds.
                <ul>
                    <li>Round 1: Test your Vocab</li>
                    <li>Round 2: Spelling Bee Both these rounds will be held in
                        pen and paper mode.</li>
                    <li>Round 3: Selected participants will compete in the
                        finale. This
                        will be a verbal round.</li>
                </ul>
                <p>Further details regarding this will be
                    conveyed then and there only.</p>
                <p>The decision of the the judge will be final.</p>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Debate</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <p> Language: English</p>
                <p>The competition will be conducted in two
                    rounds-</p>
                <ul>
                    <li>Prelims</li>
                    <li>Finals</li>
                </ul>
                <p>TOPIC: Prelims and finals topic will be given one
                    night before event.</p>
                <h3>PRELIMS:</h3>
                <ul>
                    <li>Each candidate will be speaking for/against
                        (according to their wish) the motion for 3 minutes.</li>
                    <li>4 best speakers for the motion and 4 best
                        speakers against the motion will be shortlisted for
                        the final round.</li>
                    <li>The results of the Prelims will be declared at
                        the end of the event and the 8 shortlisted
                        candidates will be asked to withdraw a chit which
                        will decide the serial number (order of speaking)
                        and whether he/she will speak in favour or
                        against the given topic in the final.</li>
                </ul>
                <h3>FINALS:</h3>
                <ul>
                    <li>Opening speech: 3 minutes each (warning bell at
                        2.5 minutes)
                        The first speaker introduces
                        the topic, stating arguments with reasoning and
                        evidence, in the form of
                        statistics or data to support his/her argument.</li>
                    <li>Cross question: 1 minute each
                        Co-participants
                        question the speaker. More than one question can
                        be asked but it should be
                        within time limit. Candidate who asked the
                        question in rebuttal will not be
                        judged.</li>
                    <li>Rebuttal: 2 mins each
                        Questions put forth
                        during cross examination are answered. The
                        speaker may introduce new arguments.</li>
                    <li>Judges/Audience Questions: 2mins</li>
                </ul>
                <p>No expression shall be accepted which is
                    offensive, personal or defamatory in nature.</p>
                <p>- Time limit in each section should be strictly
                    adhered to. 1 point will be deducted from the total
                    score for every 10 seconds beyond the time limit.</p>
                <p>- Raise your point, not your voice, maintain the
                    decorum of the debate.</p>
                <p>- Facts presented in a debate must be accurate.</p>
                <p>- The decision of judges would be final and cannot
                    be challenged.</p>
                <p>- Reading material can be taken on the stage.</p>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Anime no
                    Tatakai: An
                    Anime Quiz</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>The quiz would be conducted in two phases-
                        Prelims and Finals.</li>
                    <li>Prelims will be conducted and top 8 teams
                        would be selected.</li>
                    <li>Finals would be conducted LT-5 in AIIMS
                        Rishikesh on 08/09/2023.</li>
                    <li>Inter College teams are permitted.</li>
                    <li>Submission of forms and communication would
                        be done through the team leaders, more than one
                        entry from same team would not be considered
                        valid.</li>
                    <li>Organizers descision would be final and any
                        impudence would result in immediate
                        disqualification from the quiz.</li>
                </ul>
                <h3>Event Details:</h3>
                <h4>Prelims :</h4>
                <ul>
                    <li>A Screening Round to be held in written form</li>
                    <li>Top 8 teams will be selected to compete in the
                        Finale</li>
                </ul>
                <h4>Finale :</h4>
                <ul>
                    <li>Finale will take place at Main LT-5 in AIIMS,
                        Rishikesh</li>
                    <li>If any team wants a replacement of team
                        member in the 2nd phase , they have to choose a
                        member from the same college and they need to
                        present a valid reason to the organising
                        committee.</li>
                    <li>It will have multiple rounds: Details of which
                        will be provided shortly.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Cognizzia: Test
                    your knowledge</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>The quiz is open to all . Teams can be of 2 or 3
                        members. Lone wolves are welcome too.</li>
                    <li>Each team should put their phones away. Any
                        team considered to be cheating in any form would
                        be disqualified instantly. Failure to report to the
                        Quiz on time would also lead to disqualification
                        from the quiz.</li>
                    <li>The Quiz will be held in 4 rounds. The 1st
                        round will be a screening round on the basis of
                        which 8 teams will be selected. In case of a tie , tie
                        breaker questions will decide which team gets
                        selected.</li>
                    <li>The 1st round will be a pen and paper round.</li>
                    <li>Unanswered questions in the last 3 rounds
                        would be open to the audience. Upon answering
                        correctly, you stand a chance of winning prizes.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Taboo</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>A team will comprise of 4 members.</li>
                    <li>Each team will be given 5 minutes within which
                        they will be asked to guess as many words as they
                        can.</li>
                    <li>A Team chooses one of their players to be their
                        first Clue-giver.</li>
                    <li>The clue giver will have to provide clues
                        without using certain words which will be
                        considered taboo. Usage of which will result in
                        the disqualification of the team.</li>
                    <li> The team with maximum points wins.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">  Cineholics : A
                    Fandom Quiz</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li> The quiz would be conducted in two phases-
                        Prelims and Finals.</li>
                    <li>Prelims will be conducted and top 8 teams
                        would be selected.</li>
                    <li>Finals would be conducted LT-3 in AIIMS
                        Rishikesh on 09/09/2023.</li>
                    <li>Inter College teams are permitted.</li>
                    <li>Submission of forms and communication would
                        be done through the team leaders, more than one
                        entry from same team would not be considered
                        valid.</li>
                    <li>Organizers descision would be final and any
                        impudence would result in immediate
                        disqualification from the quiz.</li>
                </ul>
                <h3>Event Details:</h3>
                <h4>Prelims:</h4>
                <ul>
                    <li>A Screening Round to be held in written form</li>
                    <li>Top 8 teams will be selected to compete in the
                        Finale</li>
                </ul>
                <h4>Finale:</h4>
                <ul>
                    <li>Finale will take place at Main LT-3 in AIIMS,
                        Rishikesh</li>
                    <li>If any team wants a replacement of team
                        member in the 2nd phase , they have to choose a
                        member from the same college and they need to
                        present a valid reason to the organising
                        committee.</li>
                    <li>It will have multiple rounds: Details of which
                        will be provided shortly.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">  Shayari</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules:</h3>
                <ul>
                    <li>It is an OPEN Event. We're here to listen to each
                        and every one of you talk about all and everything
                        in the world.</li>
                    <li>Time Duration allowed: Less than 5 minutes.</li>
                    <li>Use decent, respectable language. Any kind of
                        profanity/vulgarity will not be tolerated.</li>
                    <li>Any kind of political affiliation and criticism is
                        highly discouraged.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">BioCrux-Sr: A
                    Clinical Quiz</h3>
            </div>
            <div class="event-rule p-3">
                <p>Subjects: All relevant clinical knowledge!</p>
                <p>Eligibility: From MBBS 2022 Batch to Interns</p>

                <h3>Rules:</h3>
                <ul>
                    <li>The quiz would be conducted in two phases-
                        Prelims and Finals</li>
                    <li>Prelims would be online through Medflix app
                        and top 30 teams would be selected.</li>
                    <li>Finals would be conducted at Main Auditorium
                        in AIIMS Rishikesh on 10/09/2023.</li>
                    <li> Inter College teams are permitted and maximum
                        1 intern per team is allowed.</li>
                    <li> Submission of forms and communication would
                        be done through the team leaders, more than one
                        entry from same team would not be considered
                        valid.</li>
                    <li>Organizers descision would be final and any
                        impudence would result in immediate
                        disqualification from the quiz.</li>
                </ul>
                
                <h3>Event Details:</h3>
                <h4>Prelims:</h4>
                <ul>
                    <li>To be held in 3 rounds and 30 minutes would
                        be provided to answer .</li>
                    <li>Each round will have different type of
                        questions.</li>
                    <li>Online Event on Medflix App</li>
                    <li>30 teams will be selected to compete in the
                        Finale which will be held during Pyrexia .</li>
                </ul>
                <h4>Finale:</h4>
                <ul>
                    <li>Finale will take place at Main Auditorium in
                        AIIMS, Rishikesh</li>
                    <li> If any team wants a replacement of team
                        member in the 2nd phase , they have to choose a
                        member from the same college and they need to
                        present a valid reason to the organising
                        committee.</li>
                    <li> It will again have multiple rounds: A Screening
                        Round (Top 5 teams will be selected through
                        screening) and 5 Main Rounds, details of which will be provided shortly.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">BioCrux-Jr: A
                    Preclinical Quiz</h3>
            </div>
            <div class="event-rule p-3">
                <p>AIIMS, Rishikesh Literary Society invites you to
                    join us on this quizzing odyssey.</p>
                <p>Subjects: All pre and para clinical subjects.</p>
                <p>Eligibility: MBBS 2021 and 2022 Batches</p>

                <h3>Rules:</h3>
                <ul>
                    <li>The quiz would be conducted in two phases-
                        Prelims and Finals.</li>
                    <li>Prelims will be conducted online through
                        Medflix app and top 30 teams would be selected.</li>
                    <li>Finals would be conducted at Main Auditorium
                        in AIIMS Rishikesh on 09/09/2023.</li>
                    <li>Inter College teams are permitted.</li>
                    <li>Submission of forms and communication would
                        be done through the team leaders, more than one
                        entry from same team would not be considered
                        valid.</li>
                    <li> Organizers descision would be final and any
                        impudence would result in immediate
                        disqualification from the quiz.</li>
                </ul>
                
                <h3>Event Details:</h3>
                <h4>Prelims:</h4>
                <ul>
                    <li>To be held in 3 rounds and total 30 minutes
                        would be provided to answer .</li>
                    <li>Each round will have different type of
                        questions.</li>
                    <li>Online Event on Medflix App</li>
                    <li>30 teams will be selected to compete in the
                        Finale to be held during Pyrexia .</li>
                </ul>
                <h4>Finale:</h4>
                <ul>
                    <li>Finale will take place at Main Auditorium in
                        AIIMS, Rishikesh .</li>
                    <li>If any team wants a replacement of team
                        member in the 2nd phase , they have to choose a
                        member from the same college and they need to
                        present a valid reason to the organising
                        committee.</li>
                    <li>It will again have multiple rounds: A Screening
                        Round (Top 5 teams will be selected through
                        screening) and 4 Main Rounds details of which
                        will be provided shortly.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
