<div class="dancerules p-5 w-100">
    <div class="container m-auto d-flex flex-column">
        <h4 class="text-center fw-bold text-warning">SOLASTA</h4>
        <h2 class="text-center mb-5 fw-bold text-light">DANCE RULES</h2>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/solasta">SOLASTA 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/dance">CHOREA (Dance
                        Competition) 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Adaptune</h3>
                <p class="text-center">Step, Spin, and slay</p>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>Participants will have to dance to the song provided by us on the spot. 💃participants will have to dance to the song provided by us on the spot. 💃. </li>
                    <li> Participants will perform to a curated selection of songs, each lasting upto at most 1 minute.</li>
                    <li>1 min. will be given to participants to think about the choreography.⏳</li>
                    <li>.Judging criteria- 

                        <br>Technical proficiency: mastery of dance techniques and movements specific to the song
                        
                        <br>Presentation: overall visual appeal and stage presence
                        
                        <br>Clean execution: precision and clarity in each movement
                        
                        <br>Dynamics: effective use of speed and energy in the performance</li>
                        <li>Participants will have upto 3 opportunities to accept a song selection provided by us.</li>
                    <li>Enter as solo, duet, or group</li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Kashvi Mehta(8266831781) </li>
                    <li>Neeraj Gujjarlapudi (7416244264) </li>
                    <li>Sambhav Agarwal (9910535998) </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Nritya Sangam
                </h3>
                <p class="text-center">where traditions come alive
                </p>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>You can choose any form of Indian classical/ folk/  regional dance </li>
                    <li>Time duration - minimum- 3min. maximum- 10min. </li>
                    <li>Bring your own costume costumes will not be provided by us </li>
                    <li>on the spot entry available </li>
                    <li>enter as solo, duet, or group </li>
                    <li>Maximum number of participants in a group: 15</li>
                    <li>Judging criteria- technique, style, synchronisation, expression, stage presence </li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Himanshi Garg (6377503390)
                    </li>
                    <li>Dishant Neemroth (7597240902)
                    </li>
                    <li>Rishita Aggarwal (8077786250)
                    </li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Ballismus 
                </h3>
                <p class="text-center">flex your style
                </p>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>You can choose any form of western bollywood dance to showcase your talent.</li>
                    <li>Time duration - minimum- 2min. maximum- 6min.</li>
                    <li>Bring your own costume costumes will not be provided by us</li>
                    <li>on the spot entry available </li>
                    <li>enter as solo, duet, or group</li>
                    <li>Judging criteria- technique, style, synchronisation,expression, stage presence</li>
                    <li>Enter as solo, duet, or group(maximum- 15 participants per team )</li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Kunga Lamo (9459993632)</li>
                    <li>Nikita (8949404362)</li>
                    <li>Mayank (9142389812)</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">RhythmRx 
                </h3>
                <p class="text-center">Unleash the rhythm
                </p>
            </div>
            <div class="event-rule p-3">
                <h3>Rules :</h3>
                <ul>
                    <li>Time duration: minimum- 1 min 20 sec, maximum- 5min.⏳ </li>
                    <li>Bring your own costume, costumes will not be provided by us.</li>
                    <li>Props are allowed.</li>
                    <li>All Dance forms are allowed,on the spot entry available. </li>
                    <li>Judging criteria- choreography, style, synchronisation, expression, stage presence , overall appeal.✅</li>
                    <li>Enter as solo, duet, or group(max 8 ppl allowed).</li>
                </ul>
                <h4>Coordinators:</h4>
                <ul>
                    <li>Deepak Tripathi (8829999674)</li>
                    <li>Prabhat Gautam (8397919900)</li>
                    <li>Vijay Lakshmi (9030360643)</li>
                    <li>Osheen (9815589564)</li>
                </ul>
            </div>
        </div>

    </div>
</div>
