<div class="velocity p-5">
    <div class="container d-flex flex-column">
        <!-- <app-velocity-gr></app-velocity-gr> -->
        <h2 class="text-center fw-bold fs-1 text-light">THUNDERBOLT</h2>
        <h3 class="text-center fw-bold text-warning">E Gaming Competition </h3>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a>THUNDERBOLT </a></li>
            </ol>
        </nav>
        <div class="sports Egame1 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../assets/images/EVENTS/thunderbolt/BGMIPOSTER.webp" alt="BGMI">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">BATTLE GROUND MOBILE INDIA</h3>
                <br>
                <p>BGMI (Battlegrounds Mobile India) is an intense battle royale game for mobile devices. Developed by Krafton, it offers fast-paced action where 100 players land on an island, scavenge for weapons, and fight to be the last one standing. With stunning graphics and diverse maps, players strategize, adapt, and engage in thrilling combat to claim victory. Free to play, BGMI provides an immersive gaming experience that keeps players hooked for hours.</p>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹400 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/thunderbolt-rules">Rule</a>
            </div>
        </div>
        <div class="sports Egame2 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../assets/images/EVENTS/thunderbolt/CODPOSTER.webp" alt="BGMI">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">CALL OF DUTY MOBILE</h3>
                <br>
                <p>Call of Duty (COD) is a renowned first-person shooter game series that delivers adrenaline-pumping action across various historical and modern combat scenarios. Developed by different studios, each title offers intense single-player campaigns and robust multiplayer modes. Players engage in tactical battles using an array of weapons, vehicles, and equipment. With cutting-edge graphics and immersive gameplay, COD remains a favorite among gamers, providing an authentic and thrilling warfare experience.</p>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>Registration fee - ₹300 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/thunderbolt-rules">Rule</a>
            </div>
        </div>
        <div class="sports Egame3 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../assets/images/EVENTS/thunderbolt/TAKENPOSTER.webp" alt="BGMI">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">TEKKEN</h3>
                <br>
                <p>Tekken is a popular and long-standing fighting game franchise developed by Bandai Namco Entertainment. Known for its deep and diverse roster of characters, each with their unique fighting styles, Tekken offers intense one-on-one battles in various locations. Players can execute intricate combos and special moves to outwit opponents. With competitive gameplay, captivating storylines, and stunning graphics, Tekken has earned a devoted fan base and continues to be a prominent title in the fighting game genre.</p>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹50 per team</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/thunderbolt-rules">Rule</a>
            </div>
        </div>
        <div class="sports Egame4 d-flex flex-row-reverse text-white ">
            <div class="images">
                <img width="100%" src="../../../../assets/images/EVENTS/thunderbolt/FIFAPoster.webp" alt="BGMI">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">FIFA</h3>
                <br>
                <p>The legendary FIFA series has been produced by EA SPORTS for over 20 years, and is now the largest sports video game franchise on the planet. FIFA brings The World’s Game to life, letting you play with the biggest leagues, clubs, and players in world football, all with incredible detail and realism.</p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹150 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/thunderbolt-rules">Rule</a>
             </div>
        </div>
        <div class="sports Egame5 d-flex text-white ">
            <div class="images">
                <img width="100%" src="../../../../assets/images/EVENTS/thunderbolt/MKPoster.webp" alt="BGMI">
            </div>
            <div class="content d-flex  flex-column justify-content-between ">
                <h3 class="fw-bolder">MORTAL KOMBAT</h3>
                <br>
                <p>MORTAL KOMBAT is a thrilling fighting game adaptation of the iconic Mortal Kombat series, developed by Warner Bros. International Enterprises. Players can assemble a team of classic MK fighters, each with unique moves and fatalities, to engage in epic battles against other players or AI opponents. The game features stunning graphics, smooth controls, and a variety of game modes, including a story-driven campaign and challenging tournaments.
                </p>
                <div class="registration">
                    <h4 class="mb-3">Participation: </h4>
                    <p>Individual</p>
                </div>
                <div class="registration">
                    <h4 class="mb-3">Registration Fee: </h4>
                    <p>₹100 per individual</p>
                </div>
                <hr>
                <a class="btn btn-danger" routerLink="/thunderbolt-rules">Rule</a>
            </div>
        </div>
</div>

