<div class="litmaniarules p-5">
    <div class="container d-flex flex-column justify-content-center aline-item-center">
        <h1 class="text-center text-white fw-bold mt-3">Alfresco</h1>
        <p class="text-center text-white fw-bold">RULES</p>
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home 》</a></li>
                <li class="breadcrumb-item"><a routerLink="/Alfresco">Alfresco 》</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rules
                </li>
            </ol>
        </nav>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">SWIFT MINGLE</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Each participant converses individually with all the prospective partners.</li>
                    <li>Each participant will get 120 seconds to interact with each person.</li>
                    <li>All participants have to get registered before the commencement of the event.</li>
                    <li>The personal details will be kept anonymous.</li>
                    <li>Any inappropriate or obscene action is prohibited and will lead to exemption from further participation.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">TAMBOLA</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Respect the Caller: Participants should listen attentively to the caller and refrain from disrupting the number calling process.</li>
                    <li> Marking Numbers: Players are instructed to mark off numbers on their tickets clearly and distinctly. </li>
                    <li> No Alterations or Tampering: Any alterations or tampering with the tickets during the game is prohibited. Tampering can lead to disqualification.</li>
                    <li>No Sharing or Splitting Tickets: Each participant should have their own individual ticket. Sharing or splitting tickets among players is not allowed.</li>
                    <li>. Decisions of the Caller: Respect the caller's decisions during disputes or challenges. The caller's decision is final in such situations.</li>
                    <li> Safety and Decorum: Maintain a safe and respectful environment during the game.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">MUSICAL CHAIR </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>All participants must follow the instructions and decisions made by the music controller or the designated event organizer.</li>
                    <li>Participants must adhere to the specified number of participants allowed in the competition.</li>
                    <li>Only individuals who have registered or been invited to take part in the competition should participate. No additional participants should join during the game.</li>
                    <li>Participants should respect the boundaries and space of others while moving around the chairs. No pushing, shoving, or any physical contact is allowed.
                    </li>
                    <li>While walking or dancing around the chairs, participants should ensure they do not interfere with or intentionally obstruct any other participant.</li>
                    <li>Participants are not allowed to purposefully knock over chairs or disrupt the positioning of chairs to gain an advantage.</li>
                    <li>As soon as the music stops, participants must immediately find a chair to sit on. Any participants who continue moving or attempt to find a chair once the music has stopped will be disqualified.</li>
                    <li>Participants should remain seated once they have found a chair until the music starts again.</li>
                    <li>When a participant is eliminated from the game, they should exit the playing area promptly and without disrupting the ongoing competition.</li>
                    <li>Participants should maintain a positive and sportsmanlike attitude throughout the competition, cheering for fellow participants and accepting defeat gracefully.</li>
                    <li>Use of any unfair means or cheating, such as blocking others or intentionally causing distractions, will result in immediate disqualification.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">TREASURE HUNT </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Every member of the team should have a delegate card to participate</li>
                    <li>One team consists of 4 members</li>
                    <li>Treasure hunt is limited to medical College premises only</li>
                    <li>You will have to look for clues and find the treasure within the set time limit </li>
                    <li>Skipping of clues will lead to immediate disqualification</li>
                    <li>Fastest team to solve the clues and reach the treasure will be declared winner</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">CROSS ROADS</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li> A team will comprise of 4 players.</li>
                    <li>Each participating team will be given some dares, which they have to complete in given time interval.
                    </li>
                    <li> Each dare completed will fetch you points.
                    </li>
                    <li> The team that earns the maximum points will be declared winner.</li>
                    <li>At any time, the decision of the organising committee will be final and binding</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">ANTAKSHARI</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>A TEAM ONLY 4 MEMBERS </li>
                    <li>ONLY 4 ROUNDS WILL BE CONDUCTED </li>
                    <li>IN CASE OF TIE 5TH ROUND WILL BE CONDUCTED</li>
                    <li>ONLY BOLLYWOOD SONGS ARE ALLOWED </li>
                    <li>PARTICIPANTS ARE REQUESTED TO SING ATLEAST 2 LINES OF SONG IN ORIGINAL SPEED.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">DARTY SECRETS</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Each player will receive a set of 5 darts to throw the darts at the board
                    </li>
                    <li>Darts are provided for each game and are the only darts allowed</li>
                    <li>No point is earned if the dart hits on the numbers written on the board</li>
                    <li>No point is earned if the dart hits and falls and does not stick on the board and will result in loss of the turn. 
                    </li>
                    <li> The players must keep both feet behind the foul line until all the 5 darts are thrown.</li>
                    <li>Stepping over the foul line will result in loss of a  dart."</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">TWISTERS</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>The referee spins the spinner, then calls out the body part and the color that the arrow points to.</li>
                    <li>Each player must try to place the called-out body part on a vacant circle of the called-out color.
                        If your called-out hand or foot is already on a circle of the called-out color, you must try to move it to another circle of the same color.</li>
                    <li>There can never be more than one hand or foot on any one circle. If two or more players reach for the same circle, the referee must decide which player got there first. The other player(s) must find another vacant circle of the same color.</li>
                    <li>Never remove your hand or foot from a circle unless you're directed to by the referee.</li>
                    <li>If all 6 circles of a color are already covered, the referee must spin again until a different color can be called out.</li>
                    <li>Any player who falls, or touches the mat with an elbow or knee, is immediately out of the game. </li>
                    <li>The last player left in the game is the winner"</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">EVENING AMORE</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Tickets for the event should be bought in advance (limited slots available).</li>
                    <li>Only 10 couples at a time is  allowed with each slot of 10 mins .</li>
                    <li>Couples will be awarded with exciting prizes on the basis of :</li>
                    <ul>
                        <li>-Synchrony of dance moves</li>
                        <li>-Chemistry between couples</li>
                        <li>-Dressing sense</li>
                        <li>-Expressions and facial gestures</li>
                    </ul>
                    <li>.Any kind of misbehaviour will not be tolerated. </li>
                    <li>At any time decision of organising committee will be binding and final.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">OREXIA</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Each team will have 3 members. Members are not allowed to change at any point during the competion.</li>
                    <li>The teams will be presented with different combinations of food decided by the organisers. </li>
                    <li>The competition will consist of 3 rounds. The teams will be timed in each round. The fastest teams to finish all the food in front of them will qualify for the next round.</li>
                    <li> In the first round, the fastest 7 teams will be selected. In the 2nd round, the fastest 3 teams will be selected. In the 3rd and final round, 1 team will be selected as the winner.</li>
                </ul>
                <h3>Criteria for disqualification: </h3>
                <ul>
                    <li>Spilling food on purpose or hiding the food in pockets, etc.</li>
                    <li>Changing a team member or making anyone from outside the team eat the food.</li>
                    <li>Agrument with the organisers at any point of the competition.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">DUMB CHARADES</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>This is a team event with 3-5 participants.</li>
                    <li>Each team will be given 5 minutes to score maximum possible score.</li>
                    <li>One participant from each team (the actor) will be sent at a time to draw a single chit and act out the phrase written on it.</li>
                    <li>The actor is free to draw any chit from any category, but only one at a time and enact the phrase written on it whih can be movies, shows, characters, celebrities, songs or dialogues.</li>
                    <li>At the end of the game, team with highest score will be declared the winner.</li>
                    <li>Only one person from a team is allowed to draw the chit and enact the phrase at a time.</li>
                    <li>The team members alternate until each team member has had an opportunity to be the actor after which the team is free to send any actor as many times as they want.</li>
                    <li>The team is allowed to drop the phrase and move on to a new one without guessing the previous phrase correctly. But with every new phrase, the actor has to be changed.</li>
                    <li>The actor is not allowed to make any sound or lip movements.</li>
                    <li>Dropping off the chit with the phrase or passing it to other team members will lead to disqualification.</li>
                    <li>The actor cannot point out at any of the objects present in the scene, if by doing so they are helping their teammates.</li>
                    <li>The actor is allowed to make any gestures other than blatantly spelling out the word. </li>
                    <li>The guessers attempt to guess the word or phrase based on the actor's performance. They can ask questions, to which the actor may give non-verbal responses, such as nodding in affirmation.</li>
                    <li>A single break is allowed for words having less than or equal to six letters. Maximum 2 breaks can be taken for words with more than 6 letters.</li>
                    <li>Failure to follow any rules may lead to disqualification. The decision of the organisers will be considered final in case of any confusion.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold"> PAPER DANCE</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants in pairs step on their respective newspapers and dance to the rhythms being played by us.</li>
                    <li>Only 10 pairs are allowed to participate in each round.</li>
                    <li>The participants themselves are supposed to fold their newspapers into half every time the music stops.</li>
                    <li>The edges of the newspaper will limit the foot movements of the players.</li>
                    <li>Stepping outside the boundaries of the newspaper will lead the players out of the game.</li>
                    <li>Pairs of any sexes/genders are accepted.</li>
                    <li>The pair who can endure the progressively diminishing paper , wins the game.</li>
                </ul>
                <h3>Points leading to disqualification : </h3>
                <ul>
                    <li>Any arguments won’t be tolerated and players won’t be allowed to re-enter the game.</li>
                    <li>Change of partner is strictly prohibited throughout the round.</li>
                    <li>The players won’t be allowed to suggest music of their choice and will have to dance on the songs being played.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold"> PICTIONARY</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>This is a team game involving 2-4 participants </li>
                    <li>One member from a team will pick up the chits. </li>
                    <li>The person will be required to draw the same on the board to be guessed by their own team members 
                    </li>
                    <li> Each team will get 2 minutes time to guess the maximum number of words within the set time frame. </li>
                    <li> If the participant is unable to get what is written on the chit. He/she can go for another chit. </li>
                    <li>The team with maximum number of guesses will be declared as the winner. 
                    </li>
                    <li>In case of draw round 2 will be conducted. 
                    </li>
                    <li>Only one participant from the team is allowed to draw. </li>
                    <li> Team members can also send alternate member to draw in case the person drawing in unable to convey.</li>
                    <li>Mumbling of words while drawing is not allowed and the team will be disqualified. </li>
                    <li> Any gestures or hand movements are not allowed. </li>
                    <li> The words should be guessed within the set time limit. Any guesses after the time is over won’t be taken into consideration.</li>
                    <li>Faliure to follow any rule may lead to disqualification. The decision of organisers will be considered final in case of any confusion.</li>
                </ul>

            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold"> BEER PONG </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Setup: 9 cups will be arranged in a 3x3 square. Each cup will be filled with an equal amount of drink. </li>
                    <li>Shots: The game begins with each player taking a shot in turns.</li>
                    <li>Game Objective: Objective is to throw the ball into the cups with one pitch on the table. The first one to finish a complete row or column wins. (like tic-tac-toe)</li>
                    <li>In case of any confusion, the decision of the organizer is considered final.
                    </li>
                    <li>Noncompliance with the rules and organizer will result in elimination from all further rounds.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold"> HOOP ROLLING </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li> Participants have to make a circle and pass the hula hoop as fast as they can, whenever music starts. </li>
                    <li>Participants who separate their hands will be disqualified. </li>
                    <li>When the music stops, participant with hula hoop will be disqualified and the circle will get smaller, with more twist.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">BALLOON BUMBLE  </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Two member can play in a team.</li>
                    <li>Hold the wet balloon between the faces with your partner , without touching with hands.</li>
                    <li>Carry it to the other end & drop into basket Drop as many balloons as you can within (1 minute. )</li>
                    <li>If you drop the balloon in between the ends, you have to start again.</li>
                    <li>The winner team will be with highest number of balloon in the basket.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">HOPSCOTCH</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>Participants will play at a time.</li>
                    <li>Participants have to make a circle and pass the hula hoop as fast as they can whenever the music stop.</li>
                    <li>As music stops, participant with hula hoop will be disqualified and the circle gets smaller.</li>
                    <li>Participants are not allowed to separate interlocked hands if anyone does will be disqualified. </li>                 
                    <li>Other twists will be added in next round</li>
                </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">SQUID GAME </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>There will be 4 rounds based on the given theme.
                    </li>
                    <li>Participants who will be able to complete the task within a set time will qualify for the next round.</li>
                    <li>Any form of cheating or unsportsmanlike behaviour would not be tolerated.</li>
                    <li>The decisions of the organisers or event coordinators should be final in case of any disputes or rule interpretations.</li>
                    <li>Once the event begins, participants cannot be substituted or replaced by others.</li>
                    <li>Participants who violate the rules or endanger the safety of others may be disqualified from the event.</li>
                    <li>Consequences for participants who cause the damage to organiser’s property include potential disqualification and liability for repair.</li>
                </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">DRAPE IT</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>It is a couple/pair game.</li>
                    <li>Participants are required to drape the saree within a specific amount of time.</li>
                    <li>After saree draping participants are required to do ramp walk .</li>
                    <li>During entire event saree should not be opened.</li>
                    <li>Saree will be provided by the organisers.</li>
                </ul>
            </div>
        </div>
        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">BEG BORROW STEAL</h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>This is a team event with 2 or 3 participants. </li>
                    <li>All teams will be provided with a list of items and items will be given specific points depending on their ease of finding. </li>
                    <li>The teams can either beg, borrow. or steal the items. </li>
                    <li>The task is to be completed within 1hour.</li>
                    <li>The teams will be judged based on number of items procured within the time limit.</li>
                    <li>Participants are requested to avoid wearing valuable items like jewellery, wrist watches during the event.</li>
                </ul>
            </div>
        </div>

        <div class="div event-container gap-3 d-flex">
            <div
                class="eventname d-flex flex-column justify-content-center aline-item-center">
                <h3 class="text-center fw-bold">Tissue Roll </h3>
            </div>
            <div class="event-rule p-3">
                <h3>Rules: </h3>
                <ul>
                    <li>It will be a single player/couple game</li>
                    <li>The tissue roll will be provided by the organisers</li>
                    <li>Only one attempt will be given to each person after each payment</li>
                    <li>The game will seize if water spills on tissue or if the tissue is torn apart</li>
                    <li>The prize awarded to the players will be informed in the beginning of the game</li>
                    <li>Time limit for each turn is 1.5 minutes</li>
                    <li>Seeking any kind of help from any other person is not allowed</li>
                </ul>
            </div>
        </div>

    </div>
</div>
