<nav class="navbar navbar-expand-lg bg-black">
  <div class="container">
    <a class="navbar-brand d-lg-none d-md-block" href="#"><img width="120px" src="../../../assets/images/pirexiafestlogo.png" alt=""></a>
    <button class="navbar-toggler m-2 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0 d-flex justify-content-center align-items-lg-center align-items-md-start gap-1">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/home" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a> 
            </li> 
            <div class="dropdown">
                <a 
                  class="d-flex"
                  id="dropdownMenuButton"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  Events <span>▾</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class=" nav-link dropdown-item" routerLink="/chronos">Chronos</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/solasta">Solasta</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/velocity">Velocity</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/thunderbolt">Thunderbolt</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/kalakriti">Kalakriti</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/littmania">LITtMania</a></li>
                  <li><a class=" nav-link dropdown-item" routerLink="/Alfresco">Alfresco</a></li>
                </ul>

              </div>

              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/event.html">Participation</a>
            </li>
              <a class="navbar-brand d-md-none  d-lg-block " routerLink="/home"><img width="120px" src="../../../assets/images/pirexiafestlogo.png" alt=""></a>
              <li>
                <a class="nav-link" routerLink="/accomodations">Accomodation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/gallary">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ARSWA-Team">Our Team</a>
           </li>
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/registration">Register</a> -->
                <a class="nav-link" target="_blank" href="https://pyrexia.aiimsrishikeshstudent.com/pyrexia/meTrnReq.html">Register</a>
            </li>


        </ul>
        <!-- <div class="registration navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">REGISTER NOW</a>
            </li>
        </div> -->
    </div>
</div>
</nav>
